/* FONTS */

/* Light */

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr'),
         url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

/* Roman */

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr'),
         url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

/* Medium */

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr'),
         url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr'),
         url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

/* ALL STYLES */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #231f20;
    font-family: 'HelveticaNeueCyr', sans-serif!important;
    font-weight: normal;

}

.container{
    display: block;
    width: 1110px;
    margin: 0 auto;
}

h1{
    font-weight: 500;
}

h2{
    font-weight: 300;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input:active, input:focus, button:active, button:focus {
    outline: none;
}

input, button::-moz-focus-inner {
    border: 0;
}

body.stopscroll{
    overflow-y: hidden;
}

/* PRELOADER */

.preloader {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* HEADER MOBILE */

.menu {
    display: none;
    background-color: #61a28f;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 300px;
    position: fixed;
    top: 40px;
    right: 16px;
    z-index: 10000;
}

.line {
    fill: none;
    stroke: #fff;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3.6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3.6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3.6;
}

.opened{
    background-color: transparent;
}

.opened .line{
    stroke: #231f20;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3.6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 3.6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3.6;
}

.header__mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    padding-top: 120px;
    padding-right: 25px;
    width: 220px;
    height: 100vh;
    background: #fafafa;
    position: fixed;
    top: 0;
    right: -220px;
    z-index: 9999;
    transition: all 0.5s ease;
}

.stopscroll .header__mobile-menu{
    right: 0;
}

.header_mb-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header_mb-links{
    font-weight: 300;
    font-size: 18px;
    opacity: 0.9;
}

body.stopscroll::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}

.header_mb-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    background: #2c836a;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
}


/* HEADER */

.header_pc{
    padding-top: 50px;
}

.header_pc .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_pc-logo{
    display: block;
    width: 150px;
    height: 21px;
    background: url(../img/logo.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header_pc-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.header_pc-links{
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: rgba(35, 31, 32, 0.9);
    position: relative;
    transition: all 0.3s ease;
}

.header_pc-links:hover{
    color: #2c836a;
}

.header_pc-links::before { 
    content: ''; 
    position: absolute; 
    bottom: -1px; 
    left: 0; 
    display: block; 
    width: 0; 
    height: 1px; 
    background: #2c836a; 
    transition: all 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53); 
}

.header_pc-links:hover:before{
    width: 100%;
}

.header_pc-call{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #231f20;
    transition: all 0.2s ease;
}

.header_pc-call:hover{
    background: rgba(44, 131, 106, 0.85);
    border-color: rgba(44, 131, 106, 0.85);
    color: #fff;
}

/* THE END HEADER */


/* SECTION MAIN */

.section__main{
    margin-top: 40px;
    padding-bottom: 70px;
}

.section__main .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__main-info{
    display: block;
    width: 633px;
}

.section__main-info_description{
    font-size: 20px;
    line-height: 100%;
    color: #2c836a;
    opacity: 0.75;
    margin-bottom: 20px;
}

.section__main-info_title{
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    width: 660px;
    font-weight: 500;
}

.section__main-info_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    height: 60px;
    background: #2c836a;
    border-radius: 5px;
    margin-top: 40px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.section__main-info_btn:hover{
    scale: 1.1;
}

.section__main-info_btn span{
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #fcfcfc;
    position: relative;
    top: 2px;
}

.section__main-info_btn-a{
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/btn-arrow.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section__main-photo{
    display: block;
    width: 400px;
    height: 480px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    border-radius: 10px;
}

.webp .section__main-photo{
    background: url(../img/main.webp) center center;
}
  
.no-webp .section__main-photo{
    background: url(../img/main.jpg) center center;
}

/* THE END SECTION MAIN */


/* SECTION PRODUCTS */

.section__products{
    display: block;
    padding: 70px 0 70px 0;
    background: #246a56;
}

.section__products .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__products-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 825px;
    row-gap: 22px;
}

.section__products-title{
    display: block;
    width: 255px;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fafafa;
    opacity: 0.8;
}

.section__products-content_block, .section__products-content_block1{
    display: block;
    width: 255px;
    height: 96px;
}

.section__products-content_block{
    padding: 22px 0 22px 26px;
    background: #fafafa;
    border-radius: 10px;
    font-weight: 500;
    font-size: 23px;
    line-height: 115%;
    color: #222222;
    transition: all 0.5s ease;
    position: relative;
    cursor: default;
}

.section__products-content_block:hover{
    height: 236px;
    box-shadow: 0px 4px 25px 2px rgba(255, 255, 255, 0.18);
}

.section__products-content_block-learn{
    position: absolute;
    left: 28px;
    bottom: 24px;
    opacity: 0;
    font-size: 18px;
    color: #062119;
    font-weight: 500;
    transition: all 0.3s ease;
}

.section__products-content_block-learn:hover{
    color: #2c836a;
}

.section__products-content_block-learn::before{
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: #062119;
    transition: all 0.3s ease;
}

.section__products-content_block-learn:hover:before{
    background: #2c836a;
}

.section__products-content_block:hover .section__products-content_block-learn{
    opacity: 1;
}

/* THE END SECTION PRODUCTS */


/* SECTION CASES */

.section__cases{
    display: none;
    padding: 70px 0 70px 0;
    background: #246a56;
}

.section__cases-row1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__cases-row2{
    display: block;
    width: 100%;
}

.section__cases-title{
    display: block;
    width: 255px;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fafafa;
    opacity: 0.8;
}

.section__cases-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 825px;
    overflow: hidden;
}

.section__cases-row2 .section__cases-content{
    width: 100%;
    margin-bottom: 0;
}

.section__cases-block{
    display: block;
    width: 255px;
    height: 125px;
    border-radius: 10px;
    background-color: #fff;
    background-position: center center;
    background-size: 130px;
    background-repeat: no-repeat;
}

.section__cases-content::before, .section__cases-content::after{
    content: '';
    display: block;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, #246A56 0%, rgba(36, 106, 86, 0) 100%);
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.35;
}

.section__cases-content::after {
    background: linear-gradient(90deg, rgba(36, 106, 86, 0) 0%, #246A56 100%);
    left: auto;
    right: 0px;
}

.section__cases-content_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    animation: 13.45s scroll linear infinite;
}

.section__cases-content_block-reverse {
    animation: 13.45s scroll linear infinite;
    animation-direction: reverse;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 30px));
    }
}

.section__cases-block1{
    background-image: url(../img/cases/case1.svg);
}

.section__cases-block2{
    background-image: url(../img/cases/case2.svg);
}

.section__cases-block3{
    background-image: url(../img/cases/case3.svg);
}

.section__cases-block4{
    background-image: url(../img/cases/case4.svg);
}

.section__cases-block5{
    background-image: url(../img/cases/case5.svg);
}

.section__cases-block6{
    background-image: url(../img/cases/case6.svg);
}

.section__cases-block7{
    background-image: url(../img/cases/case7.svg);
}

.section__cases-block8{
    background-image: url(../img/cases/case8.svg);
}

/* THE END SECTION CASES */


/* SECTION TEAM */

.section__team{
    display: none;
    padding: 70px 0 70px 0;
}

.section__team .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__team-title{
    display: block;
    width: 255px;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.8;
}

.section__team-content{
    display: block;
    width: 825px;
    height: 360px;
    background: #246a56;
    border-radius: 10px;
}

/* THE END SECTION TEAM */


/* SECTION OWNER */

.section__owner{
    display: block;
    padding: 95px 0 85px 0;
}

.section__owner .container{
    display: block;
    background: #246552;
    border-radius: 10px;
    padding-left: 570px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.section__owner .container::before{
    content: '';
    display: block;
    width: 504px;
    height: 654px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}

.webp .section__owner .container::before{
    background: url(../img/owner.webp) left bottom;
}
  
.no-webp .section__owner .container::before{
    background: url(../img/owner.png) left bottom;
}

.section__owner-title{
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #fafafa;
    font-weight: 500;
}

.section__owner-description-owner{
    color: #fafafa;
    opacity: 0.8;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    font-weight: 300;
    margin-top: 10px;
}

.section__owner-description{
    display: block;
    width: 408px;
    font-size: 22px;
    line-height: 122%;
    letter-spacing: 0.01em;
    color: #fafafa;
}

.section__owner-description1{
    margin-top: 60px;
    margin-bottom: 30px;
}

.section__owner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 80px;
    background: #2C836A;
    border-radius: 5px;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    font-weight: 700;
    position: relative;
    top: 2px;
    margin-top: 60px;
    transition: all 0.2s ease;
}

.section__owner-btn__mob{
    display: none;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 66px;
    background: #2c836a;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin: 23px auto 0 auto;
}

.section__owner-btn:hover{
    scale: 1.1;
}

/* THE END SECTION OWNER */


/* SECTION CONTACT */

.section__contact{
    display: block;
    padding: 70px 0 70px 0;
}

.section__contact .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section__contact-row1{
    display: block;
    width: 255px;
}

.section__contact-row3{
    display: block;
    width: 825px;
}

.section__contact-title{
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 132px;
}

.section__contact-phone{
    display: block;
    font-size: 18px;
    color: #231f20;
    font-weight: 300;
}

.section__contact-email{
    display: block;
    font-size: 18px;
    color: #231f20;
    font-weight: 300;
    margin-top: 33px;
    transition: all 0.3s ease;
}

.section__contact-phone:hover, .section__contact-email:hover{
    color: #2c836a;
}

.contact-form .form__input.input{
    width: 380px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(35, 31, 32, 0.8);
    height: 21px;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #231f20;
    font-weight: normal;
    transition: all 0.2s ease;
}

.contact-form .form__input.input::placeholder{
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgba(35, 31, 32, 0.8);
    font-weight: 300;
    transition: all 0.2s ease;
}

.contact-form .input-block{
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}

.contact-form .input-block:nth-child(2n){
    margin-left: 60px;
}

.contact-form .input-block_last{
    margin-bottom: 0;
    width: 100%;
}

.contact-form .form__input.input2{
    display: block;
    width: 100%;
}

.input-block_line {
    display: block;
    width: 0;
    height: 1.5px;
    background: #2c836a;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s ease-out;
}

.input-block input:focus ~ .input-block_line {
    width: 100%;
}

.input-block input.introduced ~ .input-block_line {
    width: 100%;
}

.contact-form .form__input.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background: #2c836a;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.2s ease;
    opacity: 1!important;
}

.contact-form .form__input.btn:hover{
    scale: 1.1;
}

/* .checkbox_block{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

#checkbox_gdpr{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label_gdpr{
    display: block;
    width: 25px;
    height: 25px;
    background: #d8d7d7;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.label_gdpr::before {
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    border-radius: 100px;
    background: #2c836a;
    position: absolute;
    left: 7px;
    top: 12px;
    transform-origin: center;
    transform: rotate(45deg) scaleX(0);
    transition: all 0.2s ease;
}

.label_gdpr::after {
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    border-radius: 100px;
    background: #2c836a;
    position: absolute;
    left: 7px;
    top: 12px;
    transform-origin: center;
    transform: rotate(135deg) scaleX(0);
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

#checkbox_gdpr:checked ~ .label_gdpr::before{
    transform: rotate(45deg) scaleX(1);
}

#checkbox_gdpr:checked ~ .label_gdpr::after{
    transform: rotate(135deg) scaleX(1);
}

.checkbox_description{
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgba(35, 31, 32, 0.8);
    font-weight: 300;
    position: relative;
}

.checkbox_description a{
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgba(35, 31, 32, 0.8);
    font-weight: 300;
}

.checkbox_description::before{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: rgba(35, 31, 32, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
} */

/* THE END SECTION CONTACT */

/* FOOTER */

.footer{
    display: block;
    padding: 75px 0 90px 0;
    background: #231f20;
}

.footer .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-row1, .footer-row2, .footer-row3, .footer-row4{
    display: block;
    width: 255px;
}

.footer__logo{
    display: block;
    width: 160px;
    height: 23px;
    background: url(../img/logo-f.svg) center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__copy {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #fafafa;
    opacity: 0.8;
    margin-bottom: 50px;
    font-weight: 300;
}

.footer__copy1{
    margin-top: 35px;
    margin-bottom: 5px;
}

.footer__gdrp{
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #fafafa;
    position: relative;
    transition: all 0.3s ease;
}

.footer__gdrp:hover{
    color: #2c755f;
}

.footer__gdrp::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: #fafafa;
    transition: all 0.3s ease;
}

.footer__gdrp:hover:before{
    background: #2c755f;
}

.footer-title{
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #fafafa;
    margin-bottom: 29px;
}

.footer-nav ul li{
    margin-bottom: 20px;
}

.footer-nav ul li:last-child{
    margin-bottom: 0;
}

.footer-links{
    position: relative;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fafafa;
    opacity: 0.85;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-links:hover{
    color: #2c755f;
}

.footer-links::before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #2c755f;
    transition: all 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53); 
}

.footer-links:hover:before{
    width: 100%;
}

.footer-form .form__input{
    display: block;
}

.footer-form .form__input.input{
    display: block;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #d3d2d2;
    width: 160px;
    height: 20px;
    margin-bottom: 18px;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

.footer-form .form__input.input::placeholder {
    font-size: 14px;
    color: #cfcece;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-form .form__input.input2{
    margin-bottom: 0;
}

.footer-form .form__input.btn {
    display: block;
    width: 101px;
    height: 38px;
    background: rgba(44, 131, 106, 0.85);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 1!important;
}

.footer-form .form__input.btn:hover{
    scale: 1.1;
}

.footer-row4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 48px;
    margin-top: 18px;
}

.footer-arrow{
    display: block;
    width: 14px;
    height: 87px;
    background: url(../img/footer-arrow.svg) right center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-studio{
    margin-left: auto;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fafafa;
    position: relative;
    transition: all 0.3s ease;
}

.footer-studio:hover{
    color: #2c755f;
}

.footer-studio::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background: #fafafa;
    transition: all 0.3s ease;
}

.footer-studio:hover:before{
    background: #2c755f;
}

/* THE END FOOTER */

/* POP UP */

.btn {
    margin-top: 30px;
    padding: 2.2% 5.5%;
    display: inline-block;
    -webkit-transition: all linear 0.15s;
    transition: all linear 0.15s;
    border-radius: 3px;
    background: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}
.btn:hover {
    opacity: 0.75;
}

.popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000000;
}

.popup-box {
    width: 600px;
    padding: 50px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
}
.popup-box h2 {
    color: #1a1a1a;
    margin-bottom: 20px;
    font-weight: 500;
}
.popup-box h3 {
    text-align: left;
    line-height: 140%;
    font-weight: 300;
}
.popup-box .close-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 1000px;
    background: #246552;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 190%;
}
.popup-box .close-btn:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

/* ADAPTIVE */

/* 992-1200 */
@media (max-width: 1199.98px) {
    .container{
        width: 936px;
    }
    /* HEADER PC */
    .header_pc {
        padding-top: 45px;
    }
    .header_pc-logo {
        width: 154px;
        height: 22px;
    }
    .header_pc-links {
        font-size: 15px;
    }
    /* MAIN */
    .section__main {
        padding-bottom: 45px;
    }
    .section__main-photo {
        width: 370px;
        height: 500px;
        background-size: cover!important;
    }
    .section__main-info {
        width: auto;
        max-width: 494px;
    }
    .section__main-info_description {
        margin-top: 10px;
    }
    .section__main-info_title {
        font-size: 29px;
        width: 100%;
    }
    .section__main-info_title span {
        display: none;
    }
    .section__main-info_btn {
        width: 210px;
        margin-top: 40px;
    }
    /* PRODUCTS */
    .section__products {
        padding: 50px 0 22px 0;
    }
    .section__products .container {
        display: block;
    }
    .section__products-title {
        width: auto;
        font-size: 28px;
    }
    .section__products-content {
        width: 100%;
        row-gap: 30px;
        position: relative;
        bottom: 28px;
    }
    .section__products-content_block, .section__products-content_block1 {
        width: 290px;
        height: 106px;
    }
    .section__products-content_block {
        padding: 29px 0 30px 29px;
    }
    .section__products-content_block-learn {
        left: 29px;
    }
    /* CASES */
    .section__cases {
        padding: 50px 0 50px 0;
    }
    .section__cases-title {
        width: 288px;
        font-size: 28px;
    }
    .section__cases-block {
        width: 211px;
        height: 105px;
        background-size: 106px;
    }
    .section__cases-content_block {
        animation: 16s scroll linear infinite;
    }
    .section__cases-content_block-reverse {
        animation: 16s scroll linear infinite;
        animation-direction: reverse;
    }
    /* TEAM */
    .section__team {
        padding: 50px 0 50px 0;
    }
    .section__team-title {
        width: 290px;
        font-size: 28px;
    }
    /* OWNER */
    .section__owner {
        padding: 65px 0 50px 0;
    }
    .section__owner .container {
        padding-left: 480px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .section__owner .container::before {
        width: 440px;
        height: 575px;
    }
    .section__owner-title {
        font-size: 32px;
    }
    .section__owner-description-owner {
        font-size: 18px;
        margin-top: 12px;
    }
    .section__owner-description1 {
        margin-top: 62px;
        margin-bottom: 36px;
    }
    .section__owner-description {
        width: 378px;
        font-size: 20px;
    }
    .section__owner-btn {
        margin-top: 69px;
    }
    /* CONTACT */
    .section__contact {
        padding: 50px 0 50px 0;
    }
    .section__contact-title {
        font-size: 28px;
        margin-bottom: 128px;
    }
    .section__contact-phone, .section__contact-email {
        font-size: 16px;
    }
    .section__contact-row3 {
        width: 610px;
    }
    .contact-form .form__input.input {
        width: 287px;
    }
    .contact-form .input-block:nth-child(2n) {
        margin-left: 30px;
    }
    .contact-form .form__input.input2 {
        width: 100%;
    }
    /* FOOTER */
    .footer-row1, .footer-row2, .footer-row3, .footer-row4 {
        width: 234px;
    }
    .footer-title {
        font-size: 23px;
    }
}

/* 768-991 */
@media (max-width: 991.98px) {
    .container{
        width: 690px;
    }
    /* HEADER MOBILE */
    .menu{
        display: flex;
    }
    /* HEADER PC */
    .header_pc {
        padding-top: 63px;
    }
    .header_pc-nav, .header_pc-call{
        display: none;
    }
    .header_pc-logo {
        width: 160px;
        height: 23px;
    }
    /* MAIN */
    .section__main {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .section__main-info_btn:hover {
        scale: 1;
    }
    .section__main .container {
        display: block;
    }
    .section__main-info {
        max-width: none;
    }
    .section__main-info_description {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .section__main-info_title {
        font-size: 30px;
        width: auto;
    }
    .section__main-info_btn {
        width: 210px;
        height: 66px;
        margin: 35px 0;
    }
    .section__main-photo {
        width: 100%;
        height: 410px;
    }
    /* PRODUCTS */
    .section__products {
        padding: 50px 0 50px 0;
    }
    .section__products .container {
        display: block;
    }
    .section__products-title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .section__products-content {
        position: static;
        width: 100%;
        row-gap: 25px;
    }
    .section__products-content_block {
        width: 330px;
        height: 96px;
        padding: 25px 0 25px 33px;
        font-size: 20px;
    }
    .section__products-content_block:hover {
        height: 193px;
    }
    .section__products-content_block1 {
        display: none;
    }
    .section__products-content_block-learn {
        left: 33px;
        bottom: 27px;
        font-size: 18px;
    }
    /* CASES */
    .section__cases {
        padding: 50px 0 192px 0;
    }
    .section__cases .container {
        position: relative;
    }
    .section__cases-row1 {
        display: block;
    }
    .section__cases-title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .section__cases-content {
        margin-bottom: 25px;
        width: 100%;
    }
    .section__cases-content_block {
        animation: none;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 25px;
    }
    .section__cases-content_block[aria-hidden="true"] {
        display: none;
    }
    .section__cases-block {
        width: 210px;
        height: 113px;
        background-size: 103px;
    }
    .section__cases-content::before, .section__cases-content::after{
        content: none;
    }
    .section__cases-row2 {
        position: absolute;
        bottom: -138px;
        right: 0;
        width: auto;
    }
    .section__cases-content_block-reverse {
        justify-content: flex-end;
        width: 570px;
    }
    .section__cases-block8 {
        margin-right: 120px;
    }
    /* TEAM */
    .section__team .container {
        display: block;
    }
    .section__team-title {
        width: auto;
        font-size: 26px;
        margin-bottom: 30px;
    }
    .section__team-content {
        width: 100%;
        height: 545px;
        background: #fff;
    }
    /* OWNER */
    .section__owner .container {
        padding-left: 360px;
    }
    .section__owner .container::before {
        width: 364px;
        height: 475px;
    }
    .section__owner-title {
        font-size: 24px;
    }
    .section__owner-description-owner {
        font-size: 16px;
        margin-top: 12px;
    }
    .section__owner-description {
        width: 300px;
        font-size: 16px;
    }
    .section__owner-description1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .section__owner-btn {
        width: 270px;
        height: 70px;
        font-size: 14px;
        margin-top: 40px;
    }

    /* CONTACT */
    .section__contact {
        padding: 50px 0 50px 0;
    }
    .section__contact .container {
        display: block;
    }
    .section__contact-row1 {
        width: auto;
        margin-bottom: 30px;
    }
    .section__contact-title {
        font-size: 26px;
        margin-bottom: 0;
    }
    .section__contact-phone, .section__contact-email {
        display: none;
    }
    .section__contact-row3 {
        width: auto;
    }
    .contact-form .input-block {
        display: block;
        margin-bottom: 25px;
    }
    .contact-form .input-block:nth-child(2n) {
        margin-left: 0;
    }
    .contact-form .form__input.input {
        width: 100%;
        font-size: 16px;
        border-radius: 0;
    }
    .contact-form .form__input.btn {
        width: 100%;
        height: 66px;
        font-size: 18px;
        margin-top: 40px;
    }
    .contact-form .form__input.input::placeholder{
        font-size: 16px;
    }
    /* FOOTER */
    .footer-row1, .footer-row2, .footer-row3, .footer-row4 {
        width: 172px;
    }
    .footer {
        padding: 50px 0 70px 0;
    }
    .footer__logo {
        width: 120px;
        height: 17px;
    }
    .footer__copy {
        font-size: 15px;
        margin-bottom: 55px;
    }
    .footer__copy1 {
        margin-bottom: 5px;
    }
    .footer__gdrp {
        font-size: 15px;
    }
    .footer-title {
        font-size: 17px;
    }
    .footer-links {
        font-size: 15px;
    }
    .footer-title {
        margin-bottom: 27px;
    }
    .footer-studio {
        font-size: 15px;
    }
}

/* 576-767 */
@media (max-width: 767.98px) {
    .container{
        width: 510px;
    }
    /* HEADER MOBILE */
    .header_mb-links{
        font-size: 16px;
    }
    .header_mb-btn {
        height: 40px;
        font-size: 12px;
    }
    /* HEADER PC */
    .header_pc {
        padding-top: 54px;
    }
    /* MAIN */
    .section__main-info_description {
        font-size: 18px;
    }
    .section__main-info_title {
        font-size: 26px;
    }
    .section__main-info_btn {
        width: 100%;
        margin: 30px auto;
    }
    .section__main-photo {
        width: 100%;
        height: 310px;
    }
    /* PRODUCTS */
    .section__products-title {
        font-size: 26px;
    }
    .section__products-content_block {
        width: 100%;
        height: 73px;
        padding: 25px 0 25px 51px;
    }
    .section__products-content_block span {
        display: none;
    }
    .section__products-content_block1 {
        display: none;
    }
    .section__products-content_block-learn {
        left: 51px;
    }
    /* CASES */
    .section__cases {
        padding: 50px 0 50px 0;
    }
    .section__cases-title {
        font-size: 26px;
    }
    .section__cases-content {
        margin-bottom: 25px;
        width: 100%;
    }
    .section__cases-content_block {
        animation: none;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 25px;
    }
    .section__cases-block {
        width: 240px;
        height: 128px;
        background-size: 118px;
    }
    .section__cases-row2 {
        position: static;
    }
    .section__cases-content_block-reverse {
        justify-content: space-between;
        width: auto;
    }
    .section__cases-block8 {
        margin-right: 0;
    }
    /* TEAM */
    .section__team .container {
        display: block;
    }
    .section__team-title {
        width: auto;
        font-size: 26px;
        margin-bottom: 30px;
    }
    .section__team-content {
        width: 100%;
        height: 545px;
        background: #fff;
    }
    /* OWNER */
    .section__owner {
        padding: 50px 0 50px 0;
    }
    .section__owner .container {
        width: 510px;
        padding: 35px 90px 533px 60px;
        margin: 0 auto;
    }
    .section__owner .container::before {
        width: 100%;
        height: 510px;
        max-width: 390px;
        left: 50%;
        transform: translateX(-50%);
    }
    .section__owner-title {
        font-size: 26px;
    }
    .section__owner-description-owner {
        font-size: 18px;
        margin: 8px 0 0 0;
    }
    .section__owner-description {
        font-size: 18px;
        max-width: 340px;
    }
    .section__owner-description1 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .section__owner-btn {
        display: none;
    }
    .section__owner-btn__mob{
        display: flex;
    }
    /* CONTACT */
    .section__contact {
        padding: 50px 0 50px 0;
    }
    .section__contact .container {
        display: block;
    }
    .section__contact-row1 {
        width: auto;
        margin-bottom: 30px;
    }
    .section__contact-title {
        font-size: 26px;
        margin-bottom: 0;
    }
    .section__contact-phone, .section__contact-email {
        display: none;
    }
    .section__contact-row3 {
        width: auto;
    }
    .contact-form .input-block {
        display: block;
        margin-bottom: 25px;
    }
    .contact-form .input-block:nth-child(2n) {
        margin-left: 0;
    }
    .contact-form .form__input.input {
        width: 100%;
        font-size: 16px;
        border-radius: 0;
    }
    .contact-form .form__input.btn {
        width: 100%;
        height: 66px;
        font-size: 18px;
        margin-top: 40px;
    }
    .contact-form .form__input.input::placeholder{
        font-size: 16px;
    }
    /* POP UP */
    .popup-box {
        width: 530px;
    }
    /* FOOTER */
    .footer-row1, .footer-row2, .footer-row3, .footer-row4 {
        width: 170px;
    }
    .footer-row2 {
        display: none;
    }
}

/* 320 - 575 */
@media (max-width: 575.98px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
    /* HEADER PC */
    .header_pc-logo {
        width: 152px;
        height: 22px;
    }
    /* MAIN */
    .section__main {
        margin-top: 60px;
    }
    .section__main-info_description {
        font-size: 16px;
    }
    .section__main-info_title {
        font-size: 19px;
    }
    .section__main-info_btn {
        height: 64px;
    }
    .section__main-photo {
        height: 280px;
    }
    /* PRODUCTS */
    .section__products-title {
        font-size: 24px;
    }
    .section__products-content_block {
        height: 96px;
    }
    .section__products-content_block:hover {
        height: 226px;
    }
    .section__products-content_block span {
        display: inline;
    }
    .section__products-content_block1 {
        display: none;
    }
    .section__products-content_block {
        padding: 25px 0 25px 33px;
    }
    .section__products-content_block-learn {
        left: 33px;
    }
    /* CASES */
    .section__cases-title {
        font-size: 24px;
    }
    .section__cases-content {
        margin-bottom: 20px;
    }
    .section__cases-content_block {
        row-gap: 20px;
    }
    .section__cases-block {
        width: calc(((100vw - 30px) / 2) - 15px);
        height: 90px;
        background-size: 74px;
    }
    /* TEAM */
    .section__team-title {
        font-size: 24px;
    }
    .section__team-content {
        height: 360px;
    }
    /* OWNER */
    .section__owner {
        padding: 30px 0 50px 0;
    }
    .section__owner .container {
        width: calc(100% - 24px);
        max-width: 360px;
        padding: 30px 25px 461px 25px;
        margin: 0 auto;
    }
    .section__owner .container::before {
        width: 100%;
        max-width: 340px;
        height: 450px;
        left: 50%;
        transform: translateX(-50%);
    }
    .section__owner-title {
        font-size: 24px;
        max-width: 286px;
        margin: 0 auto;
    }
    .section__owner-description-owner {
        font-size: 16px;
        max-width: 286px;
        margin: 8px auto 0 auto;
    }
    .section__owner-description {
        width: auto;
        max-width: 282px;
        font-size: 15px;
        margin: 0 auto;
        position: relative;
        right: 2px;
    }
    .section__owner-description1 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .section__owner-btn__mob{
        width: calc(100% - 24px);
        max-width: 360px;
        height: 64px;
        font-size: 15px;
        margin: 30px auto 0 auto;
    }
    /* CONTACT */
    .section__contact-title {
        font-size: 24px;
    }
    .contact-form .form__input.btn {
        height: 64px;
        font-size: 16px;
        margin-top: 35px;
    }
    /* POP UP */
    .popup-box {
        width: calc(100% - 30px);
        padding: 36px;
    }
    /* FOOTER */
    .footer {
        padding: 50px 0 50px 0;
    }
    .footer-studio{
        display: none;
    }
    .footer-form .form__input.btn {
        width: 160px;
    }
    .footer-row1 {
        width: 120px;
    }
    .footer-row3 {
        width: 170px;
    }
    .footer-row4 {
        width: 20px;
    }
}

@media (max-width: 390px) {
    .container{
        padding: 0 12px;
    }
    .section__cases-block {
        width: calc(((100vw - 24px) / 2) - 15px);
        height: 80px;
    }
    /* FOOTER */
    
    .footer-row4 {
        display: none;
    }
}