/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {
	*, *::before, *::after {
		font-size: 15px;
	}
	.icons {
		width: 380px;
		height: 380px;
	}
	.icons div:nth-child(4), .icons div:nth-child(5), .icons div:nth-child(6) {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.icons div:nth-child(3n+2) {
		margin: 0 70px;
	}
	.Eclipse, .IntelliJ_IDEA, .Komodo, .RubyMine, .Xcode, .Microsoft_Visual_Studio, .NetBeans, .PyCharm, .Qt_Creator {
		width: 80px;
		height: 80px;
	}
	.slick-next {
		right: 360px;
		top: 519px;
	}
	.slick-prev {
		left: 360px;
		top: 519px;
	}
	.slick-next::before {
		width: 35px;
		height: 35px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.slick-prev::before {
		width: 35px;
		height: 35px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.modal-dialog {
		max-width: 960px;
	}
	.card__interface-second::before {
		left: 280px;
	}
	.section__advantages {
		margin: 90px 0 28px 0;
	}
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 991.98px) {
	.logo {
		width: 95px;
		height: 20px;
	}
	.navigation ul {
		width: 350px;
	}
	.navigation ul li a {
		font-size: 11px;
	}
	.title__header {
		font-size: 33px;
	}
	.description__header {
		width: 603px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 28px;
	}
	.title__section::before, .title__section::after {
		width: 70px;
	}
	.title__about {
		margin-bottom: 50px;
	}
	.icons {
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.icons div {
		margin: 15px 20px!important;
	}
	.slick-prev {
		left: 255px;
	}
	.slick-next {
		right: 255px;
	}
	.modal-dialog {
		max-width: 720px;
	}
	.btn-developers {
		font-size: 14px;
		padding: 16px 0;
		width: 364px;
	}
	.title__interface {
		margin-bottom: 45px;
	}
	.card__interface {
		margin-bottom: 70px;
	}
	.section__interface {
		margin: 120px 0 80px 0;
	}
	.resource {
		height: 190px;
	}
	.resource div {
		width: 90px;
		height: 90px;
	}
	.card__interface::before{
		display: none;
	}
	.title-card__interface {
		margin-top: 10px;
	}
}

/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) {
	.title__header {
		font-size: 26px;
	}
	.description__header {
		width: 100%;
	}
	*, *::before, *::after {
		font-size: 14px;
	}
	.icons div {
		margin: 15px 15px!important;
	}
	.Eclipse, .IntelliJ_IDEA, .Komodo, .RubyMine, .Xcode, .Microsoft_Visual_Studio, .NetBeans, .PyCharm, .Qt_Creator {
		width: 70px;
		height: 70px;
	}
	.slick-prev {
		left: 150px;
	}
	.slick-next {
		right: 150px;
	}
	.resource {
		height: 140px;
	}
	.resource div {
		width: 80px;
		height: 80px;
	}
	.navigation{
		display: none;
	}
	nav.mobile-menu{
		display: flex;
	}
	.modal-content {
		padding: 57px 30px 52px 30px;
	}
	.modal-dialog {
		max-width: 540px;
	}
}

/*Экстрамалые девайсы («телефоны», < 576px)*/
@media (max-width: 575.98px) {
	h1, h2, h3, h4, h5, h6 {
		font-size: 22px;
	}
	.title__section::before, .title__section::after {
		width: 35px;
	}
	.title__section::before {
		right: 20px;
	}
	.title__section::after {
		left: 20px;
	}
	.icons div {
		margin: 13px 13px!important;
	}
	.Eclipse, .IntelliJ_IDEA, .Komodo, .RubyMine, .Xcode, .Microsoft_Visual_Studio, .NetBeans, .PyCharm, .Qt_Creator {
		width: 70px;
		height: 70px;
	}
	.slick-prev, .slick-next {
		display: none!important;
	}
	.slick-dots {
		bottom: -45px;
	}
	.resource div {
		width: 65px;
		height: 65px;
	}
	.resource {
		height: 105px;
	}
	.title-card__interface {
		font-size: 17px;
	}
	.resource:hover {
		border: 3px solid #F7D101;
	}
	.description__header span{
		display: none;
	}
	.title__modal {
		font-size: 18px;
	}
	.desctiption__modal {
		font-size: 11px;
	}
	.btn-developers {
		font-size: 12px;
		width: 100%;
	}
	.close {
		width: 15px;
		height: 15px;
	}
	button.close::before, button.close::after {
		content: '';
		display: block;
		width: 20px;
		height: 2px;
		background: #333;
		position: absolute;
		top: 7px;
		left: -2px;
		transition: all 0.3s ease;
	} 
	.initial__block .Eclipse, .initial__block .IntelliJ_IDEA, .initial__block .Komodo, .initial__block .RubyMine, .initial__block .Xcode, .initial__block .Microsoft_Visual_Studio, .initial__block .NetBeans, .initial__block .PyCharm, .initial__block .Qt_Creator {
		width: 100px!important;
	}
}



/*Настройки для слайдера (1200px - 1250px)*/
@media (min-width: 1200px) and (max-width: 1250px) {
	.slick-prev, .slick-next {
		width: 45px;
		height: 39px;
		top: 528px!important;
	}

	.slick-prev {
		left: 400px;
	}

	.slick-next {
		right: 400px;
	}
}