@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Bold.woff2') format('woff2'),
    url('../font/Gilroy-Bold.woff') format('woff'),
    url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../font/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Semibold.woff2') format('woff2'),
    url('../font/Gilroy-Semibold.woff') format('woff'),
    url('../font/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Medium.woff2') format('woff2'),
    url('../font/Gilroy-Medium.woff') format('woff'),
    url('../font/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body{
    font-size: 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    background: #171a21;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*HEADER*/

.logo{
    display: block;
    width: 127px;
    height: 50px;
    background: url(../img/logo/logo.svg);
}

.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-pack: justify;  
    -ms-flex-pack: justify; 
    justify-content: space-between;
    padding: 30px 0 20px 0;
}

.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.col_sum, .col_clients{
    color: #70b2e2;
}

.info_sum, .info_clients{
    font-weight: 500;
    font-size: 16px;
}

.sum, .clients{
    text-align: center;
}

.clients{
    position: relative;
    margin-left: 40px;
}

.clients::before{
    content: '';
    display: block;
    width: 1px;
    height: 44px;
    position: absolute;
    top: 0;
    left: -20px;
    background: #21252f;
}

.line{
    display: block;
    height: 1px;
    width: 100%;
    background: #21252f;
}



/*SECTION EXCHANGE*/

.section__exchange{
    padding: 74px 0 268px 0;
}

.title__exchange{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.title__exchange::before{
    content: '';    
    display: block;
    width: 381px;
    height: 450px;
    position: absolute;
    top: 0;
    left: -295px;
    background: url(../img/logo/bg.svg) no-repeat;
    z-index: -10;
    background-size: contain;
}

.title__exchange span{
    color: #70b2e2;
}

.input__login, .input__sum{
    display: block;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Gilroy';
    padding-left: 30px;
}

.input__login:hover, .input__sum:hover{
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.input__login:hover{
    background: #2f3542 url(../img/icon/user2.svg) no-repeat center right 30px;
}


.input__login{
    position: relative;
    background: #21252f url(../img/icon/user.svg) no-repeat center right 30px;
}

.input__login:focus{
    background: #2f3542 url(../img/icon/user2.svg) no-repeat center right 30px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.input__sum:hover{
    background: #2f3542 url(../img/icon/cash2.svg) no-repeat center right 30px;
}

.input__sum{
    background: #21252f url(../img/icon/cash.svg) no-repeat center right 30px;
}

.input__sum:focus{
    background: #2f3542 url(../img/icon/cash2.svg) no-repeat center right 30px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.input__login::before{
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    right: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
}

.input__sum::before{
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    right: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
}

.   {
    visibility: hidden!important;
}

.label__agreement{
    display: block;
    position: relative;
    margin-top: 30px;
    width: 27px;
    height: 27px;
}

.label__agreement::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #1a1e26;
    border: 1px solid #21252f;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.label__agreement::after{
    content: 'Я подтверждаю, что указал логин Steam, а не никнейм';
    font-size: 18px;
    position: absolute;
    display: block;
    width: 500px;
    top: 50%;
    left: 47px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.label__agreement.active::before{
    background: #1a1e26 url(../img/icon/check.svg) no-repeat center center;
}

.choose__sum{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.choose__sum input{
    display: block;
    width: 158px;
    height: 70px;
    visibility: hidden!important;
}

.choose__sum label{
    position: relative;
}

.choose__sum label::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #21252f;
    color: #696f7d;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 22px;
    position: absolute;
}

.choose__sum label:hover:before{
    background: #282d39;
    color: #B4B7BE;
    -webkit-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
    transition: all 0.2 ease;
}

.choose__sum label:nth-child(1)::before{
    content: '100 ₽';
    border-radius: 20px 0px 0px 20px;
}

.choose__sum label:nth-child(2)::before{
    content: '200 ₽';
}

.choose__sum label:nth-child(3)::before{
    content: '500 ₽';
}

.choose__sum label:nth-child(4)::before{
    content: 'Другая сумма';
    border-radius: 0px 20px 20px 0px;
}

.choose__sum label.active::before{
    background: #2f3542;
    color: #fff;
}

.btn-replenish{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 100%;
    height: 70px;
    background: -o-linear-gradient(left, #70B2E2 84.6%, #135199 106.83%);
    background: #70b2e2 -webkit-gradient(linear, left top, right top, color-stop(84.6%, #70B2E2), color-stop(106.83%, #135199));
    background: #70b2e2 -o-linear-gradient(left, #70B2E2 84.6%, #135199 106.83%);
    background: #70b2e2 linear-gradient(90deg, #70B2E2 84.6%, #135199 106.83%);
    border-radius: 20px;
    padding-left: 30px;
    position: relative;
    margin-top: 30px;

}

.btn-replenish::before{
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    display: block;
    width: 21px;
    height: 21px;
    background: url(../img/icon/arrow.svg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-replenish:hover{
    background: #70b2e2;
}

.btn-replenish:hover::before{
    right: 25px;
}

.payments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 3px dashed #696F7D;
    border-radius: 20px;
    padding: 17px;
    vertical-align: middle;
    margin: auto auto;
    margin-bottom: 30px;
}

.payments input{
    display: block;
    width: 146px;
    height: 115px;
    visibility: hidden!important;
}

.payments div{
    display: block;
    width: 146px;
    height: 115px;
    border-radius: 14px;
    cursor: default;
    background-color: #1a1e26;
}

.payments label{
    margin-bottom: 6px;
}

.payments label::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #21252f;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid #21252f
}

input[type='number'] {
    -moz-appearance: textfield;
}

.payments label:hover:before{
    background-color: #282d39!important;
    border: 1px solid #282d39!important;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.payments label.active::before{
    background-color: #2f3542!important;
}

.payments input.active::before{
    background-color: #2f3542!important;
    border: 1px solid #696f7d!important;
}

.payments label:nth-child(1):before{
    background: #21252f url(../img/payment/qiwi.svg) no-repeat center center;
}

.payments label:nth-child(2):before{
    background: #21252f url(../img/payment/visa.svg) no-repeat center center;
}

.payments label:nth-child(3):before{
    background: #21252f url(../img/payment/mir.svg) no-repeat center center;
}

.payments label:nth-child(4):before{
    background: #21252f url(../img/payment/mastercard.svg) no-repeat center center;
}

.payments .payment__future1{
    background: #1a1e26 url(../img/payment/ya_money.svg) no-repeat center center;
    cursor: default;
}

.payments .payment__future2{
    background: #1a1e26 url(../img/payment/tether.svg) no-repeat center center;
    cursor: default;
}

.payments .payment__future3{
    background: #1a1e26 url(../img/payment/ethereum.svg) no-repeat center center;
    cursor: default;
}

.payments .payment__future4{
    background: #1a1e26 url(../img/payment/tron.svg) no-repeat center center;
    cursor: default;
}

.form-calc__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.form-calc__item::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #696F7D;
    background: -o-repeating-linear-gradient(left, #696f7d, #696f7d 8px, #181a21 8px, #181a21 12px);
    background: repeating-linear-gradient(to right, #696f7d, #696f7d 8px, #181a21 8px, #181a21 12px);
    bottom: 7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.form-calc__item:last-child{
    margin-bottom: 0;
}

.form-calc__item-title {
    font-size: 18px;
    color: #696f7d;
    background: #181a21;
    z-index: 9999;
    padding-right: 8px;
}

.form-calc__item-sum {
    font-size: 18px;
    font-weight: bold;
    background: #181a21;
    z-index: 9999;
    padding-left: 8px;
}

.btn-replenish__mob{
    display: none;
}


/*FOOTER*/

.footer-navbar{
    padding: 40px 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__ref{
    font-size: 22px;
}

.footer__ref:hover{
    color: #70b2e2;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*THANKS*/

.section__thanks{
    padding: 100px 0 160px 0;
}

.icon__succes{
    display: block;
    width: 180px;
    height: 172px;
    background: url(../img/icon/succes.svg) no-repeat center center;
    background-size: contain;
    margin: 0 auto;
}

.succes__operation{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #70b2e2;
    margin-top: 40px;
}

.info__operation{
    font-size: 20px;
    font-weight: 500;
    font-size: 20px;
    width: 407px;
    margin: 20px auto 40px auto;
    text-align: center;
}

.to__main{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #0063ab;
    text-decoration: underline;
    text-align: center;
}

/*ADAPTIVE*/


@media (max-width: 1399px) {
    .choose__sum input {
        width: 135px;
    }
    .choose__sum label:nth-child(4)::before {
        padding: 12px 10px 0 10px;
    }
    .choose__sum label::before {
        padding-top: 24px;
    }
    .payments div, .payments label{
        width: 124px;
    }
    .payments label:nth-child(1):before{background-size: 75%;}
    .payments label:nth-child(2):before{background-size: 50%;}
    .payments label:nth-child(3):before{background-size: 60%;}
    .payments label:nth-child(4):before{background-size: 38%}
    .footer__ref {
        font-size: 20px;
    }
    .section__exchange {
        padding: 74px 0 200px 0;
    }
    .title__exchange::before {
        width: 410px;
        height: 478px;
        top: -140px;
    }
}

@media (max-width: 1199px) {
    .label__agreement::after {
        font-size: 16px;
        left: 40px;
    }
    .choose__sum input {
        width: 112px;
    }
    .choose__sum label::before{
        font-size: 17px
    }
    .choose__sum label::before {
        padding-top: 26px;
    }
    .choose__sum label:nth-child(4)::before {
        padding: 15px 10px 0 10px;
    }
    .input__login, .input__sum{
        font-size: 17px
    }
    .title__exchange{
        font-size: 40px
    }
    .payments div, .payments label {
        width: 101px;
        height: 85px;
    }
    .payments .payment__future1{background-size: 70%;}
    .payments .payment__future2{background-size: 70%;}
    .payments .payment__future3{background-size: 70%;}
    .payments .payment__future4{background-size: 70%;}
    .form-calc__item-title {
        font-size: 16px;
        padding-right: 6px;
    }
    .form-calc__item-sum {
        font-size: 16px;
        padding-left: 6px;
    }
    .footer__ref {
        font-size: 18px;
    }
    .input__login, .input__sum{
        margin-bottom: 20px
    }
    .label__agreement{
        margin-top: 20px
    }
    .btn-replenish{
        margin-top: 20px
    }
    .payments{
        margin-bottom: 50px
    }
    .section__exchange {
        padding: 74px 0 120px 0;
    }
    .title__exchange::before {
        width: 270px;
        height: 478px;
        top: -40px;
        left: -180px;
    }
}

@media (max-width: 991px) {
    .title__exchange {
        font-size: 35px;
    }
    .section__exchange {
        padding: 50px 0 80px 0;
    }
    .payments div, .payments label {
        width: 116px;
        height: 85px;
    }
    .payments label:nth-child(1), .payments label:nth-child(3) {
        margin-bottom: 6px;
    }
    .payments .payment__future1 {
        margin-bottom: 6px;
    }
    .choose__sum input {
        width: 97px;
    }
    .choose__sum label::before {
        padding-top: 28px;
        font-size: 15px
    }
    .choose__sum label:nth-child(4)::before {
        padding: 19px 10px 0 10px;
    }
    .label__agreement::after {
        font-size: 13px;
        left: 36px;
    }
    .label__agreement.active::before {
        background-size: 70%;
    }
    .label__agreement {
        width: 22px;
        height: 22px;
    }
    .form-calc__item-title {
        font-size: 14px;
        padding-right: 6px;
    }
    .form-calc__item-sum {
        font-size: 14px;
        padding-left: 6px;
    }
    .footer__ref {
        font-size: 14px;
    }
    .title__exchange::before {
        width: 270px;
        height: 478px;
        top: -30px;
        left: -150px;
    }
}

@media (max-width: 767px) {
    .choose__sum label::before {
        font-size: 17px;
    }
    .choose__sum input {
        width: 127px;
    }
    .label__agreement::after {
        font-size: 15px;
        left: 45px;
    }
    .label__agreement {
        width: 27px;
        height: 27px;
    }
    .choose__sum label:nth-child(4)::before {
        padding: 15px 10px 0 10px;
    }
    .btn-replenish{
        display: none
    }
    .btn-replenish__mob{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .payments {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .form-calc__item-sum{
        font-size: 16px
    }
    .form-calc__item-title{
        font-size: 16px
    }
    .footer__ref:last-child {
        margin-top: 12px;
    }
    .footer-navbar {
        width: 520px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .footer__ref {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .footer-navbar {
        width: auto;
    }
    .title__exchange {
        font-size: 27px;
    }
    .logo {
        width: 105px;
        height: 43px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .col_sum, .col_clients {
        font-size: 16px;
    }
    .info_sum, .info_clients {
        font-size: 11px;
    }
    .clients::before {
        height: 31px;
        left: -15px;
    }
    .clients {
        margin-left: 30px;
    }
    .navbar{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .input__login, .input__sum {
        height: 50px;
        border-radius: 9px;
        font-size: 15px;
        padding-left: 18px;
        margin-bottom: 10px
    }
    .input__login {
        background: #21252f url(../img/icon/user.svg) no-repeat center right 18px;
    }
    .input__sum {
        background: #21252f url(../img/icon/cash.svg) no-repeat center right 18px;
    }
    .choose__sum label:nth-child(1)::before {
        border-radius: 9px 0px 0px 9px;
    }
    .choose__sum input {
        width: 100%;
        height: 50px;
    }
    .choose__sum label::before {
        font-size: 14px;
        padding-top: 18px;
    }
    .choose__sum label:nth-child(4)::before {
        padding: 9px 10px 0 10px;
        border-radius: 0px 9px 9px 0px;
    }
    .choose__sum label {
        width: calc(100%/4 - 2px);
    }
    .label__agreement::after {
        width: calc(100vw - 72px);
    }
    .payments {
        width: 100%;
    }
    .form-calc__item-title {
        font-size: 14px;
    }
    .form-calc__item-sum {
        font-size: 14px;
    }
    a.btn-replenish.btn-replenish__mob {
        font-size: 18px;
    }
    .footer__ref {
        font-size: 16px;
    }
    .footer-navbar {
        width: 260px;
    }
    a.footer__ref:nth-child(4) {
        margin-top: 12px;
    }
    .footer-navbar {
        padding: 30px 0 40px 0;
    }
    .title__exchange::before {
        width: 190px;
        height: 478px;
        top: -30px;
        left: -80px;
    }
    .icon__succes {
        width: 140px;
        height: 134px;
    }
    .succes__operation {
        font-size: 24px;
    }
    .info__operation {
        font-size: 14px;
        width: 100%;
        margin: 10px auto 40px auto;
    }
    .to__main {
        font-size: 17px;
    }
}

@media (max-width: 575px){
    .payments div, .payments label {
        width: calc(100%/4 - 3px)!important;
        height: 85px!important;
    }
}

@media (max-width: 409px) {
    .payments div, .payments label {
        width: calc(100%/2 - 3px)!important;
        height: 85px!important;
    }
}

@media (min-width: 479px) and (max-width: 575px) {
    .choose__sum label:nth-child(4)::before {
        padding: 17px 10px 0 10px;
    }
}