@font-face {
    font-family: 'Nasalization Free';
    src: url('NasalizationFree.eot');
    src: local('Nasalization Free'), local('../font/NasalizationFree'),
        url('../font/NasalizationFree.eot?#iefix') format('embedded-opentype'),
        url('../font/NasalizationFree.woff2') format('woff2'),
        url('../font/NasalizationFree.woff') format('woff'),
        url('../font/NasalizationFree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    visibility: visible;
}

body{
    font-family: 'Nasalization Free';
    overflow-x: hidden;
}

.container{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header{
    display: block;
    height: 1033px;
}

.header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/main/bg.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1033px;
}

.header-content{
    position: relative;
    z-index: 2;
    height: 1033px;
    padding-top: 78px;
}

.header-description{
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.46) 49.06%, rgba(255, 255, 255, 0) 77.19%), #9DB1C2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    letter-spacing: 0.555em;
    line-height: 90%;
}

.header-title{
    font-size: 141px;
    width: 1023px;
    margin: 17px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 90%;
    font-weight: normal;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #0E2338;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header-person {
    display: block;
    width: 100%;
    height: 647px;
    background: url(../img/main/bg-person.png) bottom center;
    background-size: 1784px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #aa9045;
    width: 450px;
    height: 125px;
    background: url(../img/main/btn.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 290px;
    letter-spacing: 0.1em;
    font-weight: normal;
}

.header-link__shadow{
    display: block;
    width: 440px;
    height: 116px;
    position: absolute;
    left: 50%;
    top: 790px;
    transform: translateX(-50%);
    box-shadow: 0px 34px 90px 0px rgba(0, 0, 0, 0.47);
}

.header-link__inst{
    display: block;
    width: 166px;
    height: 49px;
    background: url(../img/main/inst.svg);
    position: absolute;
    top: 754px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 14px 28px -4px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
}

.header-desc1{
    text-align: right;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 312px));
    top: 534px;
}

.header-desc2{
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 312px));
    top: 534px;
}

.header-desc1, .header-desc2{
    font-size: 25px;
    width: 360px;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #0E2338;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 150%;
}

.header-desc1 span, .header-desc2 span {
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #77848E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header-card1, .header-card2{
    display: block;
    width: 194px;
    height: 97px;
    position: absolute;
    top: 381px;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-card1{
    transform: translateX(calc(-50% - 432px));
    background: url(../img/main/card1.svg) center center;
}

.header-card2{
    transform: translateX(calc(-50% + 432px));
    background: url(../img/main/card2.svg) center center;
}

.bottom{
    display: block;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/main/bottom.svg) center center;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}

/* THE END HEADER */


/* SECTION WHAT */

.section__what{
    height: 925px;  
    padding: 131px 0 133px 0;
}

.section__what-description{
    font-size: 21px;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.46) 49.06%, rgba(255, 255, 255, 0) 77.19%), #9DB1C2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    letter-spacing: 0.555em;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 15px;
}

.section__what-title{
    font-size: 60px;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #06101B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 22px;
}

.section__what-desc{
    font-size: 18px;
    text-align: center;
    width: 580px;
    line-height: 158%;
    margin: 0 auto;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #07111B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section__what-desc span{
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #748597;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section__what-info{
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: center;
    margin-top: 46px;
}

.section__what-info-block1 .section__what-info-block__best{
    background: url(../img/what/what1.svg) center center;
}

.section__what-info-block2 .section__what-info-block__best{
    background: url(../img/what/what2.svg) center center;
}

.section__what-info-block3 .section__what-info-block__best{
    background: url(../img/what/what3.svg) center center;
}

.section__what-info-block4 .section__what-info-block__best{
    background: url(../img/what/what4.svg) center center;
}

.section__what-info-block__best{
    display: block;
    width: 193px;
    height: 110px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    margin: 0 auto 12px auto;
}

.section__what-info-block1, .section__what-info-block2, .section__what-info-block3, .section__what-info-block4{
    display: block;
    width: 267px;
}

.section__what-info-block__title{
    font-size: 30px;
    font-weight: normal;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #06101B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.section__what-info-block__description{
    font-size: 18px;
    line-height: 132%;
    text-align: center;
    text-transform: uppercase;
    color: #79848D;
    margin-bottom: 5px;
}

.section__what-info-block__line{
    display: block;
    width: 231px;
    height: 28px;
    background: url(../img/what/what-line.svg) center center;
    background-size: 231px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.section__what-info-block__desc{
    font-size: 15px;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #393F45;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 153%;
    margin-top: 10px;
}

.section__what-info-block__desc span{
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #8798A6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* THE END SECTION WHAT */


/* SECTION PEOPLE */

.section__people-bg{
    display: block;
    width: 100%;
    max-width: 1816px;
    height: 100%;
    background: #A4C5EA url(../img/people/bg-people.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 61px 0 528px 0;
    margin: 0 auto;
}

.section__people-title{
    display: block;
    width: 548px;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 50px;
}

.section__people-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.section__people-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 376px;
    row-gap: 28px;
}

.section__people-form{
    display: block;
    width: 392px;
    background: url(../img/people/form-bg.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 403px;
}

.section__people-info-card{
    display: block;
    width: 100%;
    height: 177px;
    background: #fff;
    border-radius: 9px;
    padding-left: 156px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.section__people-info-card::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 9px;
}

.section__people-info-card::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 9px;
    width: 338px;
    height: 50px;
    background: #fff;
    z-index: -2;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 20%) inset;
}

.section__people-info-card-desc{
    max-width: 207px;
    font-size: 15px;
    line-height: 153%;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #393F45;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section__people-info-card-desc span{
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.3) 49.06%, rgba(255, 255, 255, 0) 77.19%), #8798A6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section__people-info .section__people-info-card:nth-child(2) {
    height: 198px;
}

.section__people-form-title{
    font-size: 42px;
    text-align: center;
    line-height: 90%;
    background: linear-gradient(260.86deg, rgba(132, 178, 216, 0) 69.39%, rgba(170, 209, 240, 0.3) 91.12%), linear-gradient(85.24deg, rgba(132, 178, 216, 0) 77.8%, rgba(170, 209, 240, 0.3) 99.83%), linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 31px;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.section__people-form-desc{
    font-size: 16px;
    text-align: center;
    width: 242px;
    margin: 0 auto;
    line-height: 132%;
    color: #fff;
    margin-bottom: 25px;
}

.section__people-form-input{
    display: block;
    width: 288px;
    height: 76px;
    text-align: center;
    margin: 0 auto 14px auto;
    font-family: 'Nasalization Free';
    text-transform: uppercase;
    font-size: 14px;
    background: url(../img/people/input.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    color: #4f6680;
}

.section__people-form-input::-webkit-input-placeholder {color:#9cb1c7;}
.section__people-form-input::-moz-placeholder          {color:#9cb1c7;}/* Firefox 19+ */
.section__people-form-input:-moz-placeholder           {color:#9cb1c7;}/* Firefox 18- */
.section__people-form-input:-ms-input-placeholder      {color:#9cb1c7;}

.section__people-form-input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.section__people-form-button{
    display: block;
    width: 289px;
    height: 80px;
    margin: 0 auto;
    background: url(../img/people/form-button.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    border: 0;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Nasalization Free';
    cursor: pointer;
}

.section__people-info-card-ph1, .section__people-info-card-ph2, .section__people-info-card-ph3, .section__people-info-card-ph4{
    display: block;
    width: 376px;
    height: 230px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: 376px!important;
    background-repeat: no-repeat!important;
}

.section__people-info-card-ph1{
    background: url(../img/people/card-people1.png);
}

.section__people-info-card-ph2{
    background: url(../img/people/card-people2.png);
    width: 425px;
    background-size: 425px!important;
}

.section__people-info-card-ph3{
    background: url(../img/people/card-people3.png);
    background-size: 412px!important;
    width: 412px;
    bottom: -1px;
}

.section__people-info-card-ph4{
    background: url(../img/people/card-people4.png);
    background-size: 412px!important;
    width: 412px;
}

/* THE END SECTION PEOPLE */


/* SECTION RESULT */

.section__result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1532px;
    height: 959px;
    background: #fff;
    margin: 0 auto;
    border-radius: 20px;
    position: absolute;
    top: 2779px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.section__result::after{
    content: '';
    display: block;
    width: 100%;
    max-width: 1532px;
    height: 959px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: -33px 55px 117px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
}

.section__result::before{
    content: '';
    display: block;
    width: 92%;
    max-width: 1406px;
    height: 848px;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/result/bottom.svg) center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.section__result-content{
    display: block;
    width: 100%;
    max-width: 1462px;
    height: 889px;
    background: #f0d99b url(../img/result/bg-result.jpg) center center;
    background-repeat: no-repeat;
    background-size: 1462px;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.section__result-title{
    font-size: 59px;
    line-height: 113.5%;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #201D16;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 69px;
    font-weight: normal;
    position: relative;
    display: inline-block;
}

.section__result-title::before{
    content: '';
    display: block;
    width: 268px;
    height: 51px;
    background: url(../img/result/result-duration.svg) center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 36px;
    top: 74px;
}

.section__result-person{
    display: block;
    width: 100%;
    height: 924px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url(../img/result/result-person.png) center center;
    background-size: 1462px;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.section__result-info-num {
    display: block;
    width: 98px;
    height: 86px;
    background: #000;
    border-radius: 3px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    box-shadow: 0px 11px 18px -5px rgba(0, 0, 0, 0.23);
}
.section__result-info-txt {
    font-size: 18px;
    line-height: 142%;
    color: #433b26;
    width: 250px;
}

.section__result-info-txt span{
    color: #9a8d69;
}

.section__result-info1, .section__result-info2, .section__result-info3, .section__result-info4, .section__result-info5 {
    position: absolute;
    display: flex;
    gap: 20px;
}

.section__result-info1 .section__result-info-num{
    background: url(../img/result/num1.svg) center center;
}

.section__result-info2 .section__result-info-num{
    background: url(../img/result/num2.svg) center center;
}

.section__result-info3 .section__result-info-num{
    background: url(../img/result/num3.svg) center center;
}

.section__result-info4 .section__result-info-num{
    background: url(../img/result/num4.svg) center center;
}

.section__result-info5 .section__result-info-num{
    background: url(../img/result/num5.svg) center center;
}

.section__result-info1 {
    top: 318px;
    left: 131px;
}

.section__result-info2 {
    top: 557px;
    left: 139px;
}
.section__result-info3 {
    top: 144px;
    left: 921px;
}
.section__result-info4 {
    top: 329px;
    left: 972px;
}
.section__result-info5 {
    top: 514px;
    left: 927px;
}



/* THE END SECTION RESULT */


/* SECTION PROGRAM */

.section__program{
    display: block;
    width: 100%;
    max-width: 1816px;
    height: 1912px;
    background: #c4b279;
    border-radius: 15px;
    margin: 52px auto 0 auto;
    padding-top: 646px;
    position: relative;
    z-index: 1;
}

.section__program-description {
    font-size: 21px;
    line-height: 90%;
    text-align: center;
    letter-spacing: 0.555em;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.25) 49.06%, rgba(255, 255, 255, 0) 77.19%), linear-gradient(0deg, #685F44, #685F44), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section__program-title {
    font-size: 60px;
    text-align: center;
    margin-top: 12px;
    line-height: 113.5%;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), linear-gradient(0deg, #201D16, #201D16), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.program{
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
    width: 1198px;
    margin: 77px auto 0 auto;
    border-radius: 5px;
}

.label-program-info{
    display: block;
    width: 124px;
    height: 773px;
    background: #ffe494;
    -webkit-box-shadow: 9px 0px 30px -7px rgba(0, 0, 0, 0.14) inset;
    -moz-box-shadow: 9px 0px 30px -7px rgba(0, 0, 0, 0.14) inset;
    box-shadow: 9px 0px 30px -7px rgba(0, 0, 0, 0.14) inset;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}

.program-block.active .label-program-info{
    display: none;
}

.section__program-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.label-program-content{
    display: none;
    width: 702px;
    height: 859px;
    background: #fff;
    border-radius: 5px;
    padding: 34px 36px 0 39px;
    align-items: start;
    justify-content: space-between;
}

.program-block.active .label-program-content{
    display: flex;
}

.label-program-info-num{
    text-align: center;
    font-size: 54px;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #06101B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.2;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.label-program-info-title{
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.365em;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #06101B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.2;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
}

.label-program-info-click{
    display: inline-block;
    font-size: 16;
    text-align: center;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #77A7DC;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.label-program-info-click::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #91b8e3;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.label-program-info-topic {
    font-size: 22px;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #312B19;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.6;
    transform: rotate(-90deg);
    position: absolute;
    top: 147px;
    left: -334px;
    width: 400px;
    transform-origin: right;
    text-align: right;
}

.label-program-info-img{
    display: block;
    width: 33px;
    height: 33px;
    background: url(../img/program/click.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
}

.content__about-block{
    display: block;
    width: 264px;
    height: 788px;
    background: url(../img/program/card.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.content__about-block-num {
    display: flex;
    align-items: start;
    gap: 15px;
    position: absolute;
    top: 28px;
    right: 42px;
}

.content__about-block-num-b {
    font-size: 14px;
    line-height: 113.5%;
    text-align: center;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.15) 49.06%, rgba(255, 255, 255, 0) 77.19%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transform: rotate(-90deg);
    transform-origin: right;
}

.content__about-block-num-n {
    font-size: 84px;
    line-height: 95%;
    text-align: right;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.1) 49.06%, rgba(255, 255, 255, 0) 77.19%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.content__about-block-res{
    display: block;
    width: 288px;
    height: 168px;
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translateX(calc(-50% - 4.5px));
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background: url(../img/program/content__about-block-res1.svg) center center;
}
.content__info-block{
    display: block;
    width: 335px;
}
.content__info-block-topic{
    font-size: 32px;
    line-height: 113%;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #06101B;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 17px;
}
.content__info-block-desc{
    font-size: 16px;
    line-height: 158%;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #77693E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 23px;
    margin-left: 20px;
    position: relative;
}

.content__info-block-desc::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #927e43;
    border-radius: 100px;
    position: absolute;
    top: 11px;
    left: -20px;
}

.content__about-block-click{
    font-size: 13px;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.2) 49.06%, rgba(255, 255, 255, 0) 77.19%), #988959;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(calc(-50% - 6px));
}

.content__about-block-click::before{
    content: '';
    display: block;
    width: 208px;
    height: 1px;
    background: #cbb778;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.content__about-block-click::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/program/click2.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -28px;
    transform: translateY(-50%);
}

.content__about-block-bonus{
    display: block;
    position: absolute;
    width: calc(100% - 12px);
    height: 300px;
    background-size: 166px!important;
    background-repeat: no-repeat!important;
    top: 329px;
}

.program-block1 .content__about-block-bonus{
    background: url(../img/program/content__about-block-bonus1.svg) top center;
}

.bottom2{
    background: url(../img/program/bottom.svg) center center;
}

/* THE END SECTION PROGRAM */


/* SECTION BONUS */

.section__bonus{
    display: block;
    height: 2518px;
    background: #f8f8f8 url(../img/bonus/bg.jpg) top center;
    background-size: 1920px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 176px;
}

.section__bonus .container{
    position: relative;
}

.section__bonus-card1{
    display: block;
    width: 563px;
    height: 250px;
    background: url(../img/bonus/card1.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 335px;
    left: 87px;
}

.section__bonus-desc1{
    font-size: 16px;
    line-height: 188%;
    color: #161a1f;
    position: absolute;
    top: 625px;
    left: 75px;
    width: 308px;
}

.section__bonus-desc1::before{
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    position: absolute;
    left: -48px;
    top: 14px;
    background: #8a9fb6;
}

.section__bonus-desc1 span{
    color: #566677;
}

.section__bonus-title1{
    font-size: 59px;
    line-height: 113%;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #1D2834;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: absolute;
    top: 327px;
    left: 759px;
}

.section__bonus-title2{
    font-size: 29px;
    line-height: 147%;
    text-transform: uppercase;
    color: #3a4754;
    width: 286px;
    position: absolute;
    top: 599px;
    left: 755px;
}

.section__bonus-card2{
    display: block;
    width: 355px;
    height: 160px;
    background: url(../img/bonus/card2.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 439px;
    left: 711px;
}

.section__bonus-card3{
    display: block;
    width: 563px;
    height: 250px;
    background: url(../img/bonus/card3.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 796px;
    left: -10px;
}

.section__bonus-card4{
    display: block;
    width: 533px;
    height: 200px;
    background: url(../img/bonus/card4.svg) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1114px;
    left: 518px;
}


.circle{
    display: block;
    width: 475px;
    height: 475px;
    background:  url(../img/bonus/circle.svg) center center;
    background-size: contains;
    background-repeat: no-repeat;
    position: absolute;
    top: 1243px;
    left: 518px;
}

.section__bonus-desc2{
    top: 1114px;
    left: 38px;
    width: 334px;
}

.section__bonus-desc3{
    top: 1241px;
    left: 164px;
    width: 223px;
}

.section__bonus-block-niches{
    display: block;
    position: absolute;
    top: 757px;
    left: 752px;
}

.section__bonus-block-niches p{
    font-size: 15px;
    text-transform: uppercase;
    color: #6B7886;
    padding: 20px 16px 17px 21px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 7.67706px 17.0601px 41.7973px -5.97105px rgba(0, 0, 0, 0.09);
    position: relative;
}

.section__bonus-title3{
    font-size: 59px;
    line-height: 113%;
    text-transform: uppercase;
    background: linear-gradient(261.91deg, rgba(255, 255, 255, 0) 25.57%, rgba(255, 255, 255, 0.4) 49.06%, rgba(255, 255, 255, 0) 77.19%), #1D2834;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: absolute;
    top: 1391px;
    width: 453px;
    left: 81px;
}


/* THE END SECTION BONUS */


/* SECTION SPEAKERS */

.section__speakers{
    display: block;
    width: 100%;
    max-width: 1816px;
    height: 1152px;
    background: #9cc0a0;
    border-radius: 15px;
    margin: 0 auto 0 auto;
    padding-top: 112px;
    position: relative;
    z-index: 1;
    bottom: 223px;
}

/* THE END  SECTION SPEAKERS */