/* Font size */

.fz37{
    font-size: 37px;
}

.fz32{
    font-size: 32px;
}

.fz28{
    font-size: 28px;
}

.fz22{
    font-size: 22px;
}

.fz20{
    font-size: 20px;
}

.fz18{
    font-size: 18px;
}

.fz16{
    font-size: 16px;
}

