*, *::before, *::after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

h1, h2, h3, h4, h5, h6{
	font-family: 'Pacifico', cursive;
}


/*HEADER*/

.header{
	background: url(../img/bg/bg.png) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-height: 670px;
	position: relative;
}

.logo{
	display: block;
	width: 79px;
	height: 29px;
	background: url(../img/logo/logo.svg) center center no-repeat;
}

.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.nav ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 370px;
	margin-top: 36px;
}

li{
	list-style: none;
	font-size: 12px;
}

li a{
	text-decoration: none;
	position: relative;
}

li a::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #ffd700;
	bottom: 0;
	left: 0;
	transform: scale(0);
	transition: all 0.5s ease;
}

li:hover a::before{
	transform: scale(1);
}

.title__offer{
	font-size: 45px;
	text-align: center;
	margin-top: 224px;
}

.title__offer span{
	display: block;
	font-size: 30px;
	color: #ffd700;
	text-align: center;
	font-family: 'Pacifico', cursive;
	position: relative;
	bottom: 17px;
}

.descriprion__offer{
	display: block;
	width: 476px;
	text-align: center;
	margin: 0 auto 0 auto;
	line-height: 28px;
	font-size: 15px;
}

.arrow {
	display: block;
	width: 31px;
	height: 17px;
	position: absolute;
	left: 50%;
	bottom: 53px;
	transform: translateX(-50%);
}

.arrow::before {
	content: '';
	width: 22px;
	height: 2px;
	background: #333;
	transform: rotate(45deg);
	position: absolute;
	bottom: 7px;
	left: -2.5px;
}

.arrow::after {
	content: '';
	width: 22px;
	height: 2px;
	background: #333;
	transform: rotate(135deg);
	position: absolute;
	bottom: 7px;
	left: 12.4px;
}

/*THE END HEADER*/


/*TECHNOLOGY*/

.section__technology{
	min-height: 700px;
}

.bg__tech{
	background: url(../img/bg/bg__tech.png) right top 60px no-repeat;
}

.title__section{
	font-size: 30px;
	margin: 40px 0 30px 0;
}

.title__section span{
	font-size: 20px;
	margin-left: 40px;
	display: block;
	font-family: 'Pacifico', cursive;
	color: #ffd700;
}

.work{
	display: block;
	font-size: 16px;
	margin: 8px 0;
	transition: all 0.5s ease;
}

.work:hover{
	color: #ffd700;
}

input{
	display: none;
}

label {
	border: 2px solid #707070;
	width: 100%;
	padding: 8px 0 8px 35px;
	border-radius: 15px;
	display: block;
	cursor: pointer;
	margin-bottom: 27px;
	position: relative;
	transition: all 0.2s ease;
}

label span{
	font-family: 'Pacifico', cursive;
	font-size: 19px;
	display: inline-block;
	position: relative;
	z-index: 2;
}

label[for="first__technology"] span::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #292d90;
	z-index: 1;
}

label[for="second__technology"] span::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #902929;
	z-index: 1;
}

label[for="third__technology"] span::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #299055;
	z-index: 1;
}

label[for="fourth__technology"] span::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #902980;
	z-index: 1;
}

label[for="fifth__technology"] span::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #ffd700;
	z-index: 1;
}

label p{
	font-size: 14px;
	margin-top: 13px;
	display: none;
}

label::before{
	content: '+';
	font-family: 'Pacifico', cursive;
	font-size: 19px;
	position: absolute;
	top: 8px;
	right: 31px;
}

#first__technology:checked ~ label[for="first__technology"]{
	border: 2px solid #292d90;
	padding-bottom: 35px;
	cursor: default;
}

#second__technology:checked ~ label[for="second__technology"]{
	border: 2px solid #902929;
	padding-bottom: 35px;
	cursor: default;
}

#third__technology:checked ~ label[for="third__technology"]{
	border: 2px solid #299055;
	padding-bottom: 35px;
	cursor: default;
}

#fourth__technology:checked ~ label[for="fourth__technology"]{
	border: 2px solid #902980;
	padding-bottom: 35px;
	cursor: default;
}

#fifth__technology:checked ~ label[for="fifth__technology"]{
	border: 2px solid #ffd700;
	padding-bottom: 35px;
	cursor: default;
}

#first__technology:checked ~ label[for="first__technology"] p, #second__technology:checked ~ label[for="second__technology"] p, #third__technology:checked ~ label[for="third__technology"] p, #fourth__technology:checked ~ label[for="fourth__technology"] p,  #fifth__technology:checked ~ label[for="fifth__technology"] p{
	display: block;
}

#first__technology:checked ~ label[for="first__technology"]::before{
	content: '—';
}

#second__technology:checked ~ label[for="second__technology"]::before{
	content: '—';
}

#third__technology:checked ~ label[for="third__technology"]::before{
	content: '—';
}

#fourth__technology:checked ~ label[for="fourth__technology"]::before{
	content: '—';
}

#fifth__technology:checked ~ label[for="fifth__technology"]::before{
	content: '—';
}

/*THE END TECHNOLOGY*/


/*FOOTER*/

.footer{
	background: #333;
	padding: 22px 0 28px 0;
}

.footer .logo{
	background: url(../img/logo/logo__white.svg) center center no-repeat;
}

.footer .nav{
	margin: 0;
}

.footer ul li a {
	color: #fff;
}

.block__footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-top: 21px;
}

.descroption__footer{
	font-size: 12px;
	color: #777;
	cursor: default;
}

.footer .nav ul {
	margin: 0;
}

/*THE END FOOTER*/


/*PORTFOLIO*/

.section__portfolio{
	padding-bottom: 80px;
}

.cards__portfolio{
	margin-top: 18px;
}

.card__portfolio {
	min-height: 339px;
}

.bg-card__portfolio1{
	background: url(../img/bg/bg-card__portfolio1.jpg) center center no-repeat;
}

.bg-card__portfolio2{
	background: url(../img/bg/bg-card__portfolio2.jpg) center center no-repeat;
}

.bg-card__portfolio3{
	background: url(../img/bg/bg-card__portfolio3.jpg) center center no-repeat;
}

.bg-card__portfolio4{
	background: url(../img/bg/bg-card__portfolio4.jpg) center center no-repeat;
}

.bg-card__portfolio5{
	background: url(../img/bg/bg-card__portfolio5.jpg) center center no-repeat;
}

.bg-card__portfolio6{
	background: url(../img/bg/bg-card__portfolio6.jpg) center center no-repeat;
}

.bg-card__portfolio7{
	background: url(../img/bg/bg-card__portfolio7.jpg) center center no-repeat;
}

.bg-card__portfolio8{
	background: url(../img/bg/bg-card__portfolio8.jpg) center center no-repeat;
}

.bg-card__portfolio1, .bg-card__portfolio2, .bg-card__portfolio3, .bg-card__portfolio4, .bg-card__portfolio5, .bg-card__portfolio6, .bg-card__portfolio7, .bg-card__portfolio8 {
	-webkit-background-size: contain;
	background-size: contain;
	width: 98%;
	height: 331px;
	display: block;
	margin: auto auto;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

/*.bg-card__portfolio1::before{
	background-color:rgba(0,0,0,0);
	transition: all 0.5s ease;
}

.bg-card__portfolio1:hover:before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.53);
	}*/

	.title-card__portfolio{
		font-size: 22px;
		text-align: center;
	}

	.description-card__portfolio{
		font-size: 14px;
		margin: 31px 0 90px 0;
		line-height: 26px;
	}

	.link-card__portfolio{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 13px 84px;
		border-radius: 23px;
		background: #3e13af;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		transition: all 0.5s ease;
	}

	.link-card__portfolio:hover{
		padding: 13px 95px;
	}

	.slick-dots li {
		width: 6px;
		height: 6px;
		margin: 0 5px;
	}

	.slick-dots li button {
		height: 6px;
		width: 6px;
		padding: 0;
		margin: 0;
		border-radius: 90px;
		background: #ddd;
	}

	.slick-dots li.slick-active button {
		background: #aaa;
	}

	.slick-dots li button::before {
		content: '';
	}

	.slick-dots {
		bottom: -62px;
	}

	.slick-prev, .slick-next {
		width: 47px;
		height: 40px;
	}

	.slick-prev {
		left: -87px;
		background: url(../img/icon/arrow-left.svg) center center no-repeat;
	}

	.slick-next {
		right: -87px;
		background: url(../img/icon/arrow-right.svg) center center no-repeat;
	}

	.slick-prev:before, .slick-next:before {
		content: '';
	}

	.slick-prev:hover, .slick-prev:focus {
		background: url(../img/icon/arrow-left.svg) center center no-repeat;
	}

	.slick-next:hover, .slick-next:focus{
		background: url(../img/icon/arrow-right.svg) center center no-repeat;
	}

	/*THE END PORTFOLIO*/

	.dcfvgbhjn{
		margin-top: 40px;
	}

