*, *::before, *::after{
	font-family: 'Open Sans', sans-serif;
	color: #455a64;
	font-size: 13px;
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: 400;
}

a{
	text-decoration: none;
}

button{
	cursor: pointer;
}

/*HEADER*/

.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 6px;
}

.logo{
	background: url(../img/logo/logo.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	width: 270px;
	height: 65px;
}

.phone{
	font-size: 23px;
	color: #333;
	position: relative;
	padding-left: 30px;
	transition: all 0.2s ease;
}

.phone:hover {
	color: #000;
}

.phone::before, .info::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-background-size: contain!important;
	background-size: contain!important;
}

.phone::before{
	background: url(../img/icons/phone.svg) center center no-repeat;
	width: 20px;
	height: 20px;
}

.map::before{
	background: url(../img/icons/map.svg) center center no-repeat;
	width: 18px;
	height: 22px;
}

.mail::before{
	background: url(../img/icons/mail.svg) center center no-repeat;
	width: 20px;
	height: 16px;
}

.lang{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 64px;
}

.lang a{
	color: #546e7a;
	transition: all 0.2s ease;
}

.lang a:hover {
	color: #44596f;
}

.registration{
	padding: 8px 20px 8px 40px;
	border-radius: 3px;
	background: #edf2f4;
	color: #546e7a;
	position: relative;
	font-size: 12px;
	transition: all 0.2s ease;
}

.registration:hover{
	background: #dde7ea;
}

.account{
	padding: 8px 20px 8px 40px;
	background: #0066cb;
	color: #fff;
	border-radius: 3px;
	position: relative;
	transition: all 0.2s ease;
}

.account:hover{
	background: #005cb7;
}

.registration::before, .account::before{
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 7px;
	transform: translateY(-50%);
	-webkit-background-size: contain!important;
	background-size: contain!important;
}

.registration::before{
	background: url(../img/icons/lock.svg) center center no-repeat;
}

.account::before{
	background: url(../img/icons/user.svg) center center no-repeat;
}

.authorization{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 345px;
}

.topnav {
	background-color: #2d3e50;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #ffff;
	text-align: center;
	padding: 8px 30px;
	text-decoration: none;
	font-size: 14px;
}

.active {
	background-color: #2d3e50;
	color: white;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	padding: 8px 30px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	transition: all 0.2s ease;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #44596f;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999999;
}

.dropdown .dropdown-content a {
	float: none;
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: all 0.2s ease;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #1b2734;
	color: white;
}

.dropdown-content a:hover {
	background-color: #2d3e50;
	color: #fff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

input[type="search"] {
	width: 202px;
	height: 27px;
	background: #1b2734;
	border: 0;
	padding: 4px 9px;
	color: #ababab;
	border-radius: 3px;
	position: relative;
}

.search{
	position: relative;
}

.search::before {
	content: '';
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/icons/search.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 999;
}

input[type="search"]::placeholder{
	color: #2d3e50;
	font-size: 14px;
}

.topnav .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.active {
	display: none;
}

span.burger::before, span.burger::after {
	content: '';
	height: 2px;
	width: 20px;
	display: block;
	border-radius: 3px;
	background: #fff;
	position: absolute;
	transition: all 0.3s ease;
}

span.burger::before {
	top: -6px;
}

span.burger::after {
	bottom: -6px;
}

span.burger {
	width: 20px;
	height: 2px;
	display: block;
	background: #fff;
	border-radius: 3px;
	position: relative;
	top: 6px;
}

a.icon {
	padding: 0;
	position: absolute;
	right: 13px;
	top: 12px;
	width: 20px;
	height: 14px;
}

.responsive span.burger {
	width: 0;
}

.responsive span.burger::before {
	transform: rotate(45deg);
	top: 0px;
}

.responsive span.burger::after {
	transform: rotate(-45deg);
	bottom: 0;
}

a.phone.active {
	opacity: 0;
	visibility: hidden;
	display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav .container {
		display: block;
		position: relative;
	}
	.topnav.responsive {
		position: relative;
		padding-bottom: 35px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 13px;
		top: 12px;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: center;
	}
	a.phone.active {
		text-align: left;
	}
}

/*THE END HEADER*/

/*MAIN*/

.block-running-line{
	display: inline-block;
	margin: 0 12px;
}

.section__main{
	padding: 18px 0 20px 0;
}

marquee {
	border: 1px solid #d0e9f5;
	background: #edf9ff;
	padding: 6px 0;
	margin-bottom: 20px;
}

marquee span.decrease-percent{
	color: #008000;
}

marquee div.decrease-percent, marquee div.increase-percent{
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-left: 3px;
	-webkit-background-size: contain;
	background-size: contain;
}

marquee div.decrease-percent{
	background: url(../img/icons/decrease-percent.svg) center center no-repeat;
}

marquee div.increase-percent{
	background: url(../img/icons/increase-percent.svg) center center no-repeat;
}

.title__main-section{
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	text-transform: uppercase;
	color: #e95753;
	margin-bottom: 9px;
}

.title-slogan{
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

.description-slogan{
	line-height: 19px;
	color: #333;
	margin-bottom: 6px;
}

.hbnjmk{
	display: block;
	width: 100%;
	height: 228px;
	background: url(../img/hbjn.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.card-offers{
	border: 1px solid #5f748a;
	padding-bottom: 11px;
	margin-top: 13px;
	border-radius: 3px;
}

.header-card-offers{
	background: #5f748a;
	padding: 6px 11px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.title-card-offers{
	font-size: 16px;
	color: #fff;
}

.price, .quantity{
	font-size: 11px;
	color: #f5e49b;
}

.block-price{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 131px;
}

.btn-card-offers{
	width: 193px;
	height: 41px;
	background: #009900;
	box-shadow: inset 0px 4px 8px #1EB71E;
	border: 0;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	color: #fff;
	display: block;
	margin: 15px auto 10px auto;
	transition: all 0.2s ease;
}

.btn-card-offers:hover{
	background: #028c02;
}

.block-average-price{
	width: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.average-price, .average-quantity{
	color: #546e7a;
}

.average-quantity span{
	color: #546e7a;
	font-weight: bold;
}

.section__main table{
	width: 100%;
	margin-top: 5px;
}

.section__main td{
	text-align: center;
	padding: 2px 0;
}

.section__main th{
	font-weight: bold;
	font-size: 12px;
	color: #cea96d;
	padding: 5px;
	background: #faf7e7;
}

.info-offer{
	display: block;
	width: 100%;
	background: #2d3e50;
	padding-bottom: 5px;
}

.info-offer::before{
	content: '';
	display: block;
	width: 100%;
	height: 187px;
	-webkit-background-size: cover!important;
	background-size: cover!important;
}

.block-offer1 .info-offer::before{
	background: url(../img/slider/1.jpg) center center no-repeat;
}

.block-offer2 .info-offer::before{
	background: url(../img/slider/2.jpg) center center no-repeat;
}
.block-offer3 .info-offer::before{
	background: url(../img/slider/3.jpg) center center no-repeat;
}

.title-offer{
	font-size: 16px;
	color: #c3954f;
	margin: 4px 0 0 15px;
}
.link-offer{
	font-size: 14px;
	color: #fff;
	margin-left: 15px;
}

.slick-dots {
	top: 0;
	text-align: right;
}

.slick-dots li button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	transform: translate(-50%, -50%);
	height: 13px;
	border-radius: 90px;
	border: 2px solid #fff;
	content: "";
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	background: #c3954f;
}

.slick-dots li{
	margin: 0 4px;
}

.slick-prev, .slick-next {
	top: 45%;
	width: 36px;
	height: 47px;
	z-index: 999;
}

.slick-prev:before, .slick-next:before {
	width: 36px;
	height: 47px;
	display: block;
	content: '';
	opacity: 1;
}

.slick-prev:before{
	background: #fff url(../img/icons/slider-arrow-l.svg) center center no-repeat;
}

.slick-next:before{
	background: #fff url(../img/icons/slider-arrow-r.svg) center center no-repeat;
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

p.development{
	font-weight: bold;
	text-align: center;
	color: #546E7A;
	margin: 36px 0 31px 0;
}

.line-development{
	border: 0.5px solid #5F748A;
	margin-top: 8px;
}

.section__tables-development .card-history{
	height: 118px;
}

.section__tables-development p.development{
	margin: 26px 0;
}

/*THE END MAIN*/

/*DOCUMENT*/

.section__document{
	padding: 12px 0 32px 0;
	background: #5f748a;
}

.location{
	margin-bottom: 13px;
}

.location a{
	color: #fff;
	display: inline-block;
	margin-right: 5px;
	margin: 0;
	padding-right: 10px;
	position: relative;
	margin-right: 15px;
}

.location a::before{
	content: '';
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translateY(-50%);
	background: url(../img/icons/arrow.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.location a:last-child::before{
	display: none;
	margin-right: 0;
}

.card-document{
	padding: 14px 19px;
	background: #fff;
	border-radius: 3px;
}

.title__section{
	font-size: 23px;
	color: #0066cb;
}

.title-doc{
	font-size: 16px;
	line-height: 24px;
	color: #1b2734;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 11px 0;
	border-bottom: 1px solid #f2f2f2;
	display: block;
}

.doc-1{
	margin-top: 3px;
}

.title-public{
	color: #0066cb;
	font-size: 16px;
	line-height: 24px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 11px 0 0 0;
	display: block;
}

.info-doc p{
	line-height: 19px;
}

.description-doc{
	margin-top: 15px;
	margin-bottom: 6px;
}

.subtitle-doc{
	margin-bottom: 10px;
	font-weight: bold;
}

.paragraph-doc{
	margin-bottom: 8px;
}

.paragraph-doc:last-child{
	margin-bottom: 0;
}

.more-doc{
	display: block;
	margin: 26px auto 0 auto;
	text-align: center;
	text-decoration: underline;
	color: #c3954f;
	transition: all 0.2s ease;
}

.more-doc:hover{
	color: #a0783a;
}

.card-history{
	display: block;
	width: 100%;
	height: 569px;
	border-radius: 3px;
	background: #fff;
	padding: 15px 13px 45px 13px;
}

.header-table{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.title-table{
	font-size: 16px;
	color: #2d3e50;
}

.all-transaction{
	font-size: 12px;
	text-align: center;
	color: #2c71b5;
	background: #bfe7fb;
	border-radius: 3px;
	padding: 3px 7px;
	transition: all 0.2s ease;
}

.all-transaction:hover{
	background: #acdef7;
}

.section__tables table, .section__document table{
	border-collapse: collapse;
	width: 100%;
	margin-top: 8px;
}

.section__tables table th, .section__document table th{
	background: #5f748a;
	color: #fff;
}

.section__tables tr:nth-child(2n+3) td, .section__document tr:nth-child(2n+3) td{
	background: #edf9ff;
}

.section__tables tr td, .section__document tr td{
	padding: 2px 0;
	text-align: center;
}

.section__tables td.increase, .section__document td.increase{
	color: #009900;
}

.section__tables td.decrease, .section__document td.decrease{
	color: #cc0000;
}

div.increase{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../img/icons/increase.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

div.decrease{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url(../img/icons/decrease.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/*THE END DOCUMENT*/

/*TABLES*/

.section__tables{
	padding: 15px 0 19px 0;
	background: #5f748a;
}

/*THE END TABLES*/

/*NEWS*/

.section__news{
	padding: 21px 0 23px 0;
}

.section__news .title__section{
	text-align: center;
	margin-bottom: 24px;
}

.title-news{
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #383e4b;
	transition: all 0.2s ease;
}

.title-news:hover{
	color: #000;
}

.date-news{
	font-size: 11px;
	color: #C3954F;
	margin: 7px 0 10px 0;
}

.description-news{
	line-height: 19px;
	color: #383E4B;
}

.all-news{
	width: 112px;
	height: 29px;
	display: block;
	border: 0;
	color: #fff;
	font-size: 11px;
	background: #0066cb;
	border-radius: 3px;
	margin: 23px auto 0 auto;
	transition: all 0.2s ease;
}

.all-news:hover{
	background: #005cb7;
}

/*THE END NEWS*/

/*CONTACT*/

.section__contact{
	padding: 30px 0;
	background: #edf2f4;
}

.title-section__contact{
	font-size: 18px;
	color: #2d3e50;
}

.section__contact .info{
	font-size: 14px;
	color: #333;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-left: 30px;
	position: relative;
	transition: all 0.2s ease;
}

.section__contact .info:hover{
	color: #000;
}

.section__contact .info svg{
	margin-right: 5px;
}

/*THE END CONTACT*/

/*FOOTER*/

.footer{
	background: #2d3e50;
	padding: 26px 0;
}

.logo-dark{
	background: url(../img/logo/logo-dark.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	width: 133px;
	height: 31px;
	margin: 0 auto;
}

/*THE END FOOTER*/






/*MEDIA*/

/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {
	.phone::before, .map::before, .mail::before {
		width: 16px;
		height: 16px;
	}
	.section__contact {
		padding: 25px 0;
	}
	.logo {
		width: 230px;
		height: 55px;
	}
	.phone {
		font-size: 18px;
	}
	.lang {
		width: 60px;
	}
	.authorization {
		width: 320px;
	}
	.nav {
		padding-bottom: 4px;
	}
	.section__contact .info {
		font-size: 13px;
	}
	.title-section__contact {
		font-size: 16px;
	}
	.section__contact .info {
		padding-left: 25px;
	}
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 991.98px) {
	.title-section__contact {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.section__contact .info::before {
		top: 0;
		transform: translateY(0);
	}
	.card-history {
		margin-top: 20px;
	}
	.news-1, .news-2 {
		margin-bottom: 30px;
	}
	.nav {
		flex-wrap: wrap;
	}
	.phone {
		order: 3;
	}
	.lang {
		order: 2;
		margin-top: 10px;
	}
	.authorization {
		order: 1;
		margin-left: 140px;
	}
}

/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) {
	.section__contact .info.mail {
		margin-bottom: 0;
	}
	.section__contact .info {
		margin-bottom: 15px;
	}
	.section__contact .info::before {
		top: 50%;
		transform: translateY(-50%);
	}
	.section__contact .info {
		font-size: 14px;
	}
	.logo {
		width: 180px;
		height: 43px;
	}
	.registration {
		padding: 8px 18px 8px 36px;
	}
	.account {
		padding: 8px 14px 8px 34px;
	}
	.registration::before, .account::before {
		width: 20px;
		height: 20px;
	}
	.authorization {
		width: 290px;
		margin-left: 0;
	}
	a.phone.active {
		display: block;
	}
	input[type="search"] {
		display: none;
	}
}

/*Экстрамалые девайсы («телефоны», < 576px)*/
@media (max-width: 575.98px) {
	.title-section__contact {
		margin-bottom: 25px;
	}
	.section__contact .info {
		margin-bottom: 18px;
	}
	.news-1, .news-2, .news-3 {
		margin-bottom: 25px;
	}
	.logo {
		width: 100%;
		height: 50px;
	}
	.lang{
		display: none;
	}
	.authorization {
		width: 290px;
		margin-top: 10px;
	}
	.nav{
		flex-direction: column;
		padding-bottom: 10px;
	}
	.nav .phone {
		display: none;
	}
	a.phone.active {
		display: block;
	}
	a.phone.active {
		opacity: 1;
		visibility: visible;
	}
	.topnav.responsive {
		padding-bottom: 0;
	}
	.info-offer::before {
		height: 130px;
	}
}

/*Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	input[type="search"] {
		width: 160px;
	}
	.topnav a {
		padding: 8px 0;
		font-size: 13px;
	}
	.dropdown .dropbtn {
		padding: 8px 0;
	}
}
/*Большие девайсы (большие десктопы, >= 992px)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	p.development {
		margin: 59px 0 60px 0;
	}
}