@font-face {
	font-family: 'Gilroy';
	src: url('../font/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Gilroy-Regular.woff') format('woff'),
	url('../font/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../font/Gilroy-Medium.eot');
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
	url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/Gilroy-Medium.woff') format('woff'),
	url('../font/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../font/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Gilroy-Bold.woff') format('woff'),
	url('../font/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*, *::before, *::after{
	font-family: 'Gilroy', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
	outline: none;
}

p{
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 48px;
	color: #1c597f;
}

button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}

a:hover{
	text-decoration: none;
}

/*Mobile menu*/

body.check {
	overflow: hidden;
}

.nav-mobile {
	display: none;
}

.mobile-menu__btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;	
	cursor: pointer;
	transition: .4s;
	top: 17px;
	right: 15px;
	margin: 0;
}

.mobile-menu__icon {
	display: block;
	position: relative;
	transition: .4s;
	width: 17px;
	height: 6px;
}

.mobile-menu__icon::after, .mobile-menu__icon::before {
	content: "";
	display: block;
	position: absolute;
	background: #333;
	width: 17px;
	height: 2px;
	transition: .4s;
}

.header-dark .mobile-menu__icon::after, .header-dark .mobile-menu__icon::before {
	background: #fff;
}

.mobile-menu__icon::after {
	bottom: 0;
}

.mobile-menu__icon::before {
	top: 0;
}

.mobile-menu__container {
	position: fixed;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50px;
	left: 0;
	right: 0;
	height: 0;
	opacity: 1;
	transition: .5s;
	overflow: hidden;
	background-color: #fff;
	z-index: 99999999999;
}

.header-dark .mobile-menu__container{
	background-color: #242424;
}

.mobile-menu__list {
	transition: .5s;
	list-style: none;
	padding-left: 0;
	margin-top: -50px;
}

.mobile-menu__item {
	font-size: 26px;
	padding-bottom: 15px;
}

.mobile-menu__link {
	text-decoration: none;
	color: #323232;
}

.header-dark .mobile-menu__link{
	color: #f3f3f3;
}

.mobile-menu__checkbox {
	display: none;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
	opacity: 1;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__container {
	height: 100%;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
	background: transparent;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
	top: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.mobile-menu__container ul {
	display: block;
	position: absolute;
	width: 100%;
	top: 25%;
	transform: translateY(-25%);
}

.nav-mobile ul li a{
	color: #333;
	font-size: 20px;
	text-decoration: none;
	position: relative;
}

.nav-mobile ul li a.active::before{
	content: '';
	display: block;
	background: #323232;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -4px;
	left: 0;
	transition: all 0.3s ease;
}

.header-dark .nav-mobile ul li a{
	color: #fff;
}

.header-dark .nav-mobile ul li a.active::before{
	background: #fff;
}

.nav-mobile ul li{
	padding-bottom: 16px;
}

.nav-mobile ul li:last-child{
	padding-bottom: 0;
}

/*HEADER*/

.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1110px;
	margin: 0 auto;
	padding: 23px 0 26px 0;
}

.logo{
	background: url(../img/logo/logo.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	width: 254px;
	height: 51px;
}

ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 230px;
}

.nav li{
	list-style: none;
}

.nav li a{
	color: #333;
	font-size: 18px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
	font-style: normal;
	transition: all 0.3s ease;
}

.nav li a:hover{
	color: #1370aa;
}

.nav li a.link-page__active{
	color: #1370aa;
	position: relative;
}

.nav li a.link-page__active::before{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #1370aa;
}

.info {
	text-align: right;
}

.number{
	font-size: 24px;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #333;
	transition: all 0.3s ease;
}

.number:hover{
	color: #222
}

.battery-search{
	color: #1370aa;
	text-decoration: underline;
	position: relative;
}

.battery-search::before{
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	background: url(../img/icon/search.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	left: -23px;
	top: 50%;
	transform: translateY(-50%);
}

.battery-search:hover{
	color: #15679a;
	text-decoration: underline;
}

.media{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 12px;
}

.social a{
	display: block;
	width: 22px;
	height: 22px;
}

.social .WhatsApp{
	background: url(../img/icon/WhatsApp.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.social .Telegram{
	background: url(../img/icon/Telegram.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 0 4px;
}

.social .Viber{
	background: url(../img/icon/Viber.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.social .WhatsApp, .social .Telegram, .social .Viber{
	transition: all 0.5s ease;
}

.social .WhatsApp:hover, .social .Telegram:hover, .social .Viber:hover{
	margin-bottom: 3px;
}

/*THE END HEADER*/

/*ERROR*/

.section__error{
	padding: 90px 0 249px 0;
}

.icon-error{
	display: block;
	width: 162px;
	height: 122px;
	background: url(../img/icon/battery.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 0 auto;
}

.title-error{
	font-size: 64px;
	text-align: center;
	margin: 51px 0 42px 0;
}

.description-error{
	font-size: 36px;
	color: #1c597f;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

.description-actions{
	text-align: center;
	font-size: 24px;
	margin: 52px 0 44px 0;
}

.btn-main{
	display: inline-block;
	border-radius: 60px;
	color: #fff;
	font-size: 22px;
	padding: 23px 100px;
	background: rgb(25,108,159);
	background: linear-gradient(180deg, rgba(25,108,159,1) 0%, rgba(58,151,209,1) 100%);
}

.btn-error{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.btn-main:hover{
	background: linear-gradient(180deg, rgba(25,108,159,1) 0%, rgba(58,151,209,1) 100%);
	color: #fff;
}

/*THE END ERROR*/

/*PRIVACY POLICY*/

.section__privacy-policy{
	padding-bottom: 51px;
	background: url(../img/bg/wrench.png) center center no-repeat;
	-webkit-background-size: auto;
	background-size: auto;
	background-position: bottom 0 right 50px;
}

.location{
	margin: 20px 0 30px 0;
}

.link-location{
	font-size: 14px;
	color: #697a85;
	position: relative;
	margin-right: 20px;
	transition: all 0.3s ease;
}

.link-location:hover{
	color: #454d52;
}

.link-location::before{
	content: '/';
	color: #697a85;
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
}

.link-location:last-child:before{
	content: '';
}

.title-page_privacy-policy{
	font-size: 36px;
	margin-bottom: 24px;
}

.description-privacy_policy, .title-privacy_policy, .date-privacy_policy{
	color: #1c597f;
	display: block;
	font-weight: normal;
	font-size: 16px;
}

.date-privacy_policy{
	margin-top: 44px;
	margin-bottom: 30px;
}

.description-privacy_policy:last-child{
	margin-bottom: 0;
}

.title-privacy_policy{
	margin-top: 44px;
	margin-bottom: 22px;
}

/*THE END PRIVACY POLICY*/

/*FOOTER*/

.bodyy{
	height: 500px;
	display: block;
}

.footer {
	background: #f9f9f9;
	padding-bottom: 28px;
}

.privacy-policy, .copyright{
	display: block;
	font-size: 14px;
	color: #a6a8a9;
	transition: all 0.3s ease;
}

.design-studio, .design{
	display: block;
	text-align: right;
	font-size: 14px;
	color: #a6a8a9;
	transition: all 0.3s ease;
}

.design-studio:hover, .privacy-policy:hover{
	color: #454d52;
}

.footer .nav {
	padding: 23px 0 49px 0;
}

.info-footer {
	text-align: right;
}

/*THE END FOOTER*/


/*Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {
	.nav {
		width: 100%;
	}
	.title-error {
		font-size: 60px;
		margin: 45px 0 38px 0;
	}
	.description-error {
		font-size: 32px;
	}
	.description-actions {
		font-size: 20px;
		margin: 46px 0 40px 0;
	}
	.btn-main {
		padding: 20px 95px;
	}
	.section__error {
		padding: 85px 0 180px 0;
	}
}

/*Средние девайсы («таблетки», < 992px) */
@media (max-width: 991.98px) {
	.logo {
		width: 200px;
		height: 36px;
	}
	ul {
		width: 210px;
	}
	.nav li a {
		font-size: 16px;
	}
	.social a {
		width: 18px;
		height: 18px;
	}
	.number {
		font-size: 21px;
	}
	.address {
		font-size: 14px;
	}
	a.battery-search {
		font-size: 14px;
	}
	.battery-search::before {
		width: 12px;
		height: 12px;
		left: -20px;
	}
	.social {
		margin-right: 10px;
	}
	.icon-error {
		width: 150px;
		height: 113px;
	}
	.title-error {
		font-size: 56px;
		margin: 38px 0 31px 0;
	}
	.description-error {
		font-size: 28px;
	}
	.description-actions {
		font-size: 18px;
		margin: 40px 0 38px 0;
	}
	.btn-main {
		padding: 16px 90px;
	}
	.section__error {
		padding: 85px 0 220px 0;
	}
	.section__error {
		padding: 85px 0 140px 0;
	}
}

/*Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) {
	.nav-mobile {
		display: block;
	}
	.nav{
		display: none;
	}
	.logo {
		margin-top: 15px;
	}
	.info {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		position: absolute;
		bottom: 12%;
		left: 50%;
		transform: translateX(-50%);
	}
	.social {
		margin: 0 0 5px 0;
	}
	.media {
		flex-direction: column;
	}
	.social a {
		width: 20px;
		height: 20px;
	}
	.footer .nav {
		padding: 23px 0 25px 0;
		display: block;
		flex-direction: column;
		justify-content: center;
	}
	.info-footer {
		text-align: center;
	}
	.footer .logo {
		margin: 0 auto;
	}
	.footer ul {
		margin: 16px auto;
	}
	.footer .social {
		margin: 7px 0;
	}
	.footer .social a {
		width: 25px;
		height: 25px;
	}
	.footer .social .Telegram {
		margin: 0 8px;
	}
	.footer .number {
		margin: 7px 0;
	}
	.icon-error {
		width: 130px;
		height: 98px;
	}
	.title-error {
		font-size: 48px;
		margin: 34px 0 26px 0;
	}
	.description-error {
		font-size: 24px;
	}
	.description-actions {
		font-size: 18px;
		margin: 36px 0 34px 0;
	}
	.btn-main {
		font-size: 19px;
		padding: 14px 87px;
	}
	.section__error {
		padding: 85px 0 120px 0;
	}
	.title-page_privacy-policy {
		font-size: 30px;
		margin-bottom: 24px;
	}
	.title-page_privacy-policy {
		font-size: 30px;
	}
	.btn-main{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*Экстрамалые девайсы («телефоны», < 576px)*/
@media (max-width: 575.98px) {
	.design-studio, .design, .privacy-policy, .copyright{
		text-align: center;
	}
	.icon-error {
		width: 120px;
		height: 90px;
	}
	.description-error {
		font-size: 17px;
	}
	.title-error {
		font-size: 36px;
		margin: 30px 0 26px 0;
	}
	.description-actions {
		font-size: 14px;
		margin: 32px 0 30px 0;
	}
	.btn-main {
		font-size: 16px;
		padding: 15px 78px;
	}
	.section__error {
		padding: 85px 0 100px 0;
	}
	.title-page_privacy-policy {
		font-size: 24px;
	}
	.section__privacy-policy {
		background-position: bottom 0 right 0;
	}
}