.your-style {
	font-family: 'Gilroy';
	font-weight: normal;
	font-style: normal;
}

.your-style {
	font-family: 'Gilroy';
	font-weight: 500;
	font-style: normal;
}

.your-style {
	font-family: 'Gilroy';
	font-weight: bold;
	font-style: normal;
}